@model ArtShop.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot password | R24";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Art Shopping Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="R24 is the best place to buy artwork online. Find the perfect original paintings, fine art photographs and more from the largest selection of original art in the world." />
    <meta name="keywords" content="affordable art, art dealers, art for sale, art original,art websites, buy art, buy art online, buy original art, buy paintings,buy paintings online, canvas wall art, contemporary abstract art,contemporary art, contemporary arts, contemporary oil paintings, fine art,fine art photography, fine art photography for sale, framed art,home decor wall art, modern art, modern art paintings, office interior design,online art, online art gallery, original art, original art for sale, original painting,collage, drawings, pencil drawings, printmaking for sale, london Agencys, la Agencys, nyc Agencys, australia Agencys, uk Agencys, german Agencys,interior design help, nude photography, nude art, abstract art" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic" />
    <link rel="stylesheet" href="~/Content/Vendor/maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/app-99c5613a7fbb0f5f16e645bc204d000d.css" />

    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="~/Content/Vendor/code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/Vendor/cdn.optimizely.com/js/2220741194.js"></script>

    <script type="text/javascript" src="~/Content/js/dist/core-1497066375653.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="saatchi index bgcolor signed-out">
    <script>
        if (navigator.userAgent.match(/AppleWebKit/) && !navigator.userAgent.match(/Chrome/)) {
            document.body.className += ' safari';
        }
        else if (navigator.userAgent.indexOf('MSIE') !== -1 || !!navigator.userAgent.match(/Trident\/7\./)) {
            document.body.className += ' ie';
        }
        function isSafari5() {
            return !!navigator.userAgent.match('Safari/index.html') && !navigator.userAgent.match('Chrome') && !!navigator.userAgent.match(' Version/5.');
        };
        if (isSafari5() === true) {
            $('#unsupportedSafari').show();
        }
    </script>

    <div id="authentication-app-container">
        <div data-reactroot="" class="authentication">
            <!-- react-empty: 2 -->
            <header class="authentication__header animate-group-0-0">
                <a href="/">
                    <img alt="R24 Logo" style="width:200px;height:42px" src="~/Content/Images/logo.png">
                </a>
            </header>
                <div class="authentication__content">
                    <div>
                        <!-- react-empty: 37 --><div>
                            <div class="authentication__content__section">
                                <div>
                                    <div class="authentication__section-title animate-group-0-0">Sign in</div>
                                    <h1 class="animate-group-0-4">Reset password</h1>
                                    <div class="animate-group-1-5 authentication__content__inner">
                                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="input-group">
                                                <div class="input-with-placeholder input-with-placeholder--has-value">
                                                    @Html.LabelFor(m => m.Email, new { @class = "input-with-placeholder__label" })
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-with-placeholder__input ", id = "input-with-place-holder-2", name = "email" })
                                                </div>
                                            </div>
                                            <br>
                                            <button class="btn btn--green btn--block" type="submit">Reset</button>
                                            <br />
                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                        }
                                    </div>
                                    <div class="authentication__loader"></div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>var Modernizr = false;</script>
        <script src="~/Content/js/dist/foundation/foundation5-5.min4baf.js?version=1468284677"></script>
        <div id="fb-root"></div>
        <script type="text/javascript">
            Saatchi.NewDesktopNavigation.init();
            Saatchi.NewMobileNavigation.init();
        </script>
        @Scripts.Render("~/bundles/jqueryval")
</body>
</html>

