@using Blog.Areas.Admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "ورود";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>R24 Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/default")
</head>
<body class="page-loading">
    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>
        </div>
    </div>
    <!-- /page loading spinner -->
    <div class="app signin v2 usersession">
        <div class="session-wrapper">
            <div class="session-carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="background-image:url('/Content/bg.JPG');background-size:cover;background-repeat: no-repeat;background-position: 50% 50%;">
                    </div>
                </div>
            </div>

            <div class="card bg-white no-border">
                <div class="card-block">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-layout", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="text-center m-b">
                            <img style="width:100px" src="/Content/logo.png" />
                            <h4 class="text-uppercase">سامانه مدیریت </h4>
                            <p>لطفا به حساب کاربری خود وارد شوید</p>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-inputs p-b">
                            <label class="text-uppercase">نام کاربری</label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", @placeHolder = "نام کاربری " })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            <label class="text-uppercase">کلمه عبور</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeHolder = "کلمه عبور " })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-primary btn-block btn-lg m-b" type="submit">ورود</button>
                        <div class="divider">
                            <span>ART</span>
                        </div>
                        <p class="text-center">
                            <small><em>توسعه آینده مجازی آرنا</em></small>
                        </p>
                    }

                </div>
            </div>
            <div class="push"></div>
        </div>
    </div>
    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    @Scripts.Render("~/Content/Admin/scripts/helpers/modernizr.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery/dist/jquery.js")
    @Scripts.Render("~/Content/Admin/vendor/bootstrap/dist/js/bootstrap.js")
    @Scripts.Render("~/Content/Admin/vendor/fastclick/lib/fastclick.js")
    @Scripts.Render("~/Content/Admin/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js")
    @Scripts.Render("~/Content/Admin/scripts/helpers/smartresize.js")
    @Scripts.Render("~/Content/Admin/scripts/constants.js")
    @Scripts.Render("~/Content/Admin/scripts/main.js")

    @Scripts.Render("~/bundles/jqueryval")
    <!-- endbuild -->
</body>
</html>



