@{
    ViewBag.Title = "Home Page";
}


<div class="m-t-n m-b">
    <div class="card m-b-0 bg-primary-dark p-a-md no-border m-b m-x-n-g">
        <div class="card-block" style="height: 100px">
        </div>
    </div>
    <div class="row post-header text-white">
        <div class="col p-b-lg col-xs-11 col-xs-offset-2">
            <h1>R24 </h1>
            <h4> آینده مجازی آرنا</h4>
            <div class="meta">
                <span class="author">@User.Identity.Name</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.product</h4>
                            <h6 class="m-a-0 text-muted"> Product</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Materials</h4>
                            <h6 class="m-a-0 text-muted"> Materials</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Subjects</h4>
                            <h6 class="m-a-0 text-muted"> Subjects</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Mediums</h4>
                            <h6 class="m-a-0 text-muted"> Mediums</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Styles</h4>
                            <h6 class="m-a-0 text-muted"> Styles</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Users</h4>
                            <h6 class="m-a-0 text-muted"> Users</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.Agency</h4>
                            <h6 class="m-a-0 text-muted"> Agency</h6>
                        </div>
                    </div>
                    <div class="card card-block no-border bg-white">
                        <div class="circle-icon bg-info text-white m-r">
                            <i class="icon-list"></i>
                        </div>
                        <div class="overflow-hidden" style="margin-top:1px;">
                            <h4 class="m-a-0">@ViewBag.coolector</h4>
                            <h6 class="m-a-0 text-muted"> collector</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



