@model Product
@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var toRight = IsRighToLeft ? "pull-right" : "pull-left";
    var toLeft = IsRighToLeft ? "pull-left" : "pull-right";
}

@{
    <style>
        .so-collection-create-add .controls {
            margin-right: 160px;
            margin-left: auto;
        }

        .so-collection-create-add .control-label {
            float: right;
        }

        .so-available-collections .ellipsis {
            width: auto !important;
        }
    </style>
    if (IsRighToLeft)
    {
        <style>
            .so-available-collections td a.add {
                margin-right: 1px !important;
            }

            .so-available-collections .ellipsis {
                text-align: right !important;
            }
        </style>
    }
}

<div class="ui-tooltip-content" id="ui-tooltip-3-content" aria-atomic="true">
    <div class="so-collections-list" style="width:auto">

        <div id="addcollectiondive" hidden>
            <div class="so-collection-create-add" style="width:auto;overflow:auto">
                <div class="hd"></div>
                <div class="bd">
                    <img style="width:100px" class="@(IsRighToLeft?"alignRight":"alignLeft")" src="@Model.Sqphoto.Path">
                    <form class="form-horizontal">

                        <input type="hidden" name="collection" value="" id="collection">

                        <input type="hidden" name="owner" value="994373" id="owner">
                        <div class="control-group">
                            <label for="title" class="control-label required">@ProfileRes.Collection_title</label>
                            <div class="controls">
                                <input type="text" name="title" id="nctitle" value="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="button" onclick="doAddTocollection(0,@ViewBag.productid,$('#nctitle').val())" name="create" id="so-collection-create-submit" value="@ProfileRes.Create_collection" class="button btn-info">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="ft"></div>
            </div>
        </div>

        <div id="selectcollectiondiv">
            <div class="hd">
                <h3 class="@toRight">@ShareRes.Add_to_a_Collection</h3>
                <div class="create @toLeft">
                    <a class="so-spr-add btn btn-mini ready" onclick="$('#selectcollectiondiv').hide(); $('#addcollectiondive').show();">
                        <i class="fa fa-plus"></i>
                        @ProfileRes.Create_collection
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr>
            <div class="bd">
                <div class="clearfix"></div>
                <div class="so-available-collections scroll-visible">
                    <table id="table-collection-list" class="table table-bordered table-condensed table-striped">
                        <tbody>
                            @if (ViewBag.collections == null || ((List<Collection>)ViewBag.collections).Count == 0)
                            {
                                <tr>
                                    <td>
                                        <p> @ShareRes.You_have_not_any_collection </p>
                                    </td>
                                </tr>
                            }

                            @foreach (var item in (List<Collection>)ViewBag.collections)
                            {
                                <tr>
                                    <td>
                                        <div class="so-available-collections-item">
                                            <a onclick="doAddTocollection(@item.Id,@ViewBag.productid,'')" class="add">
                                                <div class="ellipsis">@item.Title</div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



