
@{
    ViewBag.Title = "Description | R24";
}

@model Product

@using DataLayer.Extentions

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
    var rtldirectionWithTextAlign = IsRighToLeft ? "direction:rtl !important;text-align:right" : "";
}


<link href="~/Content/EditProduct.css" rel="stylesheet" />
<link href="~/Content/select2/css/select2.css" rel="stylesheet" />

@using (Html.BeginForm("EditDescription", "Products", FormMethod.Post, new { id = "mform", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <div id="upload">
        <div class="app">
            <div class="full-bleed full-bleed--background">
                <div class="container artwork__container">
                    <span></span>
                    <div class="edit-page">
                        @Html.Partial("_MenuMobile", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Description", id = Model.Id, Status = Model.Status })
                        <div class="edit-page__container">
                            @if (!IsRighToLeft)
                            {
                                @Html.Partial("_Menu", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Description", id = Model.Id, Status = Model.Status })
                            }                      
                            <div class="edit-page__content pane pane--inline pane--content pane--centered">
                                <div class="wizard-step">
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
                                    }

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-0" style="@rtldirection" >@SearchRes.Select_material</h1>
                                        <div class="form-group form-group--block animate-group-0-0 z-index-fix-0">
                                            <div class="input-container z-index-fix-1 text-left animate-group-0-1">
                                                <label style="@rtldirectionWithTextAlign"> @UploadRes.step5_materials </label>
                                                <select name="MaterialList" class="sMaterials rw-combobox rw-widget" multiple="multiple">
                                                    @foreach (var item in ArtShop.Util.CashManager.Instance.Materials)
                                                    {
                                                        if (Model.Materials.Any(x => x.Id == item.Key))
                                                        {
                                                            <option  selected value="@item.Key">@item.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Key">@item.Value</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <div class="form-group form-group--block animate-group-0-3 mediums__keywords-container">
                                            <h1 style="@rtldirection">@UploadRes.step5_keywords</h1>
                                            <p style="@rtldirection" class="descriptor">
                                              @UploadRes.step5_keywords_detail
                                            </p>
                                            <div class="input-container text-left">
                                                <label style="font-size:small;@rtldirectionWithTextAlign">@UploadRes.step5_keywords_lable</label>
                                                <input name="Keywords" value="@Model.Keywords" type="text" class="rw-combobox rw-widget tag" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-4">@UploadRes.description</h1>
                                        @*<div class="descriptor text-left animate-group-0-5">
                                            <p>
                                                Collectors tend to appreciate works more if they know the “story” behind them, so be sure to write informative artwork descriptions.
                                                Great descriptions not only provide useful information (e.g. physical texture, whether hanging hardware is included, quality of materials), but they also answer questions like:
                                            </p>
                                        </div>
                                        <div class="descriptor text-left animate-group-0-6"><strong><p>What/who inspired the work?</p><p>What do you hope its viewers will feel/think?</p><p>Why did you choose the medium, subject matter, style?</p></strong></div>*@
                                        <div class="form-group form-group--block">
                                            <div class="input-container animate-group-0-7">
                                                <div class="description-input__description-container">
                                                    <textarea style="min-height:100px" class="description-input__description" name="description" placeholder="Write here ...">@Model.Description</textarea>
                                                    <div  style="@rtldirection"  class="description-input__prop-aggregate">@UploadRes.step5_keywords: @Model.Keywords</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @if (IsRighToLeft)
                            {
                                @Html.Partial("_Menu", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Description", id = Model.Id, Status = Model.Status })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>

    <script>
        $(".sMaterials").select2({
            allowClear: true,
        });
        $(".tag").select2({
            allowClear: true,
            tags: true
        });
    </script>


}