@{
    ViewBag.Title = "Detail | R24";
}

@model Product

@using DataLayer.Extentions

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
}

<link href="~/Content/EditProduct.css" rel="stylesheet" />
<link href="~/Content/select2/css/select2.css" rel="stylesheet" />


@using (Html.BeginForm("EditDetail", "Products", FormMethod.Post, new { id = "mform", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <div id="upload">
        <div class="app">
            <div class="full-bleed full-bleed--background">
                <div class="container artwork__container">
                    <span></span>
                    <div class="edit-page">
                        @Html.Partial("_MenuMobile", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Artwork Details", id = Model.Id, Status = Model.Status })
                        <div class="edit-page__container">
                            @if (!IsRighToLeft)
                            {
                                @Html.Partial("_Menu", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Artwork Details", id = Model.Id, Status = Model.Status })
                            }
                            <div class="edit-page__content pane pane--inline pane--content pane--centered">
                                <div class="wizard-step">
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
                                    }
                                    @if (Model.user.AuctionCapability)
                                    {
                                        <div class="pane__content__block">
                                            <h3>Auction</h3>
                                            <div class="button-radio">
                                                <div class="button-radio__button-container">
                                                    @{ var isAvailable = Model.IsAuctionAvailable == true ? "true" : "false"; }
                                                    <input id="IsAuctionAvailable" type="hidden" name="IsAuctionAvailable" value="@isAvailable" />
                                                    <button onclick="change_auction(1)" id="auction_yes" class="button-radio__button button button--active" type="button">@UploadRes.Yes</button>
                                                    <button onclick="change_auction(0)" id="auction_no" class="button-radio__button button" type="button">@UploadRes.No</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-3">@UploadRes.step3_year_string</h1>
                                        <div class="form-group form-group--block animate-group-0-4">
                                            <div class="title-input">
                                                <div class="title-input__title-wrapper">
                                                    <input style="text-align:center" tabindex="-1" class="artwork-status__year z-index-fix rw-combobox rw-widget" type="text" name="ArtCreatedYearString" value="@Model.ArtCreatedYearString">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-0">@UploadRes.Category</h1>
                                        <div class="form-group form-group--block">
                                            <div class="input-container animate-group-0-1 z-index-fix-0">
                                                <select name="categoryId" class="rw-combobox rw-widget">
                                                    @foreach (var item in ArtShop.Util.CashManager.Instance.Categories)
                                                    {
                                                        if (Model.categoryId == item.id)
                                                        {
                                                            <option selected value="@item.id">@item.name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.id">@item.name</option>
                                                        }

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-2">@UploadRes.Subject</h1>
                                        <div class="form-group form-group--block">
                                            <div class="input-container animate-group-0-3 z-index-fix-1">
                                                <div class="input-container animate-group-0-1 z-index-fix-0">
                                                    <select name="subjectId" class="rw-combobox rw-widget">
                                                        @foreach (var item in ArtShop.Util.CashManager.Instance.Subjects)
                                                        {
                                                            if (Model.subjectId == item.Key)
                                                            {
                                                                <option selected value="@item.Key">@item.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Key">@item.Value</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-4">@ShareRes.Medium</h1>
                                        <div class="form-group form-group--block animate-group-0-4 z-index-fix-2">
                                            <div class="input-container z-index-fix-0 text-left animate-group-0-5">
                                                <label style="@rtlstl">@UploadRes.step5_mediums</label>
                                                <div class="input-container animate-group-0-1 z-index-fix-0">
                                                    <input value="@string.Join(",",Model.Mediums.Select(x=>x.Current().Name))" name="Mediums" type="text" style="max-width:none" class="sMediums rw-combobox rw-widget" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pane__content__block">
                                        <h1 class="animate-group-0-6">@ShareRes.Style</h1>
                                        <div class="form-group form-group--block animate-group-0-6 z-index-fix-3">
                                            <div class="input-container z-index-fix-2 text-left animate-group-0-7">
                                                <label style="@rtlstl">@UploadRes.step5_styles</label>
                                                <div class="input-container animate-group-0-1 z-index-fix-0 ">
                                                    <input value="@string.Join(",",Model.Styles.Select(x=>x.Current().Name))" name="Styleslist" type="text" style="max-width:none" class="sStyles  rw-combobox rw-widget" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @if (IsRighToLeft)
                            {
                                @Html.Partial("_Menu", new EditProductMenuViewModel() { Photo = Model.photo.Path, menu = "Artwork Details", id = Model.Id, Status = Model.Status })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            var btnyes = $('#auction_yes');
            var btnno = $('#auction_no');

            var isAuctionAvailable = @Model.IsAuctionAvailable;
            if (isAuctionAvailable) {
                btnyes.addClass('button--active');
                btnno.removeClass('button--active');
            }
            else
            {
                btnno.addClass('button--active');
                btnyes.removeClass('button--active');;
            }
        });
    </script>
    <script>
        $(".sMediums").select2({
            tags: [@(Html.Raw(string.Join(",", (ArtShop.Util.CashManager.Instance.Mediums).Select(x =>("'" + x.Value + "'")))))]
        });
        $(".sStyles").select2({
            tags: [@(Html.Raw(string.Join(",", (ArtShop.Util.CashManager.Instance.Styles).Select(x =>("'" + x.Value + "'")))))]
        });

        function change_auction(val) {
            var inp = $('#auction');

            var btnyes = $('#auction_yes');
            var btnno = $('#auction_no');
            if (val == 1) {
                inp.val('true');
                btnyes.addClass('button--active');
                btnno.removeClass('button--active');

            } else {
                inp.val('false');
                btnno.addClass('button--active');
                btnyes.removeClass('button--active');

            }
        }

    </script>


}