@{
    ViewBag.Title = "Artworks | R24";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;float:right !important; text-align:right !important" : "";
    var rtlstlForSize = IsRighToLeft ? "direction:ltr;float:right !important; text-align:right !important; margin-top:7px" : "margin-top:7px";
    var rtldirection = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "";
    var rtlPosition = IsRighToLeft ? "margin-right:40px !important" : "";
    var pricertl = IsRighToLeft ? "left:0;right:auto;text-align:left;" : "";
    var rtlFontSize = IsRighToLeft ? "font-size:.7rem;padding:13px 10px 10px 5px !important" : "";
    var rtlSoldItem = IsRighToLeft ? "float:left !important" : "";
}

@model  List<Product>
@using DataLayer.Extentions

@helper selected(int current, int selected)
{
if (current == selected)
{
        @:selected
    }
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    @@-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<div role="main" class="row row-layout browse-content">
    <header class="small-12 columns" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="small-12 columns breadcrumbs">

                @{
                    Dictionary<string, string>
                                        links = new Dictionary<string, string>
                                            ();
                    links.Add("/"+ CultureHelper.GetCurrentCulture()+"/", ShareRes.Home);
                    if (ViewBag.categoryId != 0)
                    {
                        links.Add("/" + CultureHelper.GetCurrentCulture() + "/search/" + ViewBag.categoryId + "/0/0/0/0", ViewBag.categoryName);
                    }
                    if (ViewBag.styleId != 0)
                    {
                        links.Add("/" + CultureHelper.GetCurrentCulture() + "/search/" + ViewBag.categoryId + "/" + ViewBag.styleId + "/0/0/0", ViewBag.styleName);
                    }
                    if (ViewBag.subjectId != 0)
                    {
                        links.Add("/" + CultureHelper.GetCurrentCulture() + "/search/" + ViewBag.categoryId + "/" + ViewBag.styleId + "/" + ViewBag.subjectId + "/0/0", ViewBag.subjectName);
                    }
                    if (ViewBag.mediumId != 0)
                    {
                        links.Add("/" + CultureHelper.GetCurrentCulture() + "/search/" + ViewBag.categoryId + "/" + ViewBag.styleId + "/" + ViewBag.subjectId + "/" + ViewBag.mediumId + "/0", ViewBag.mediumName);
                    }
                    if (ViewBag.priceId != 0)
                    {
                        links.Add("/" + CultureHelper.GetCurrentCulture() + "/search/" + ViewBag.categoryId + "/" + ViewBag.styleId + "/" + ViewBag.subjectId + "/" + ViewBag.mediumId + "/" + ViewBag.priceId, ViewBag.priceName);
                    }
                }

                @foreach (var item in links)
                {
                    if (item.Key == links.Last().Key)
                    {
                        <span style="@rtlstl">@item.Value</span>                        
                    }
                    else
                    {
                        <a style="@rtlstl" href="@item.Key">@item.Value</a>
                    }
                }



            </div>
        </div>
    
        @*<hr>
            <div class="row">
                <div class="small-12">
                    <h1>
                        Paintings for Sale: Originals and Prints
                    </h1>
                    <p class="expandable" style="display: block;">
                        Whether you are looking for an original&nbsp;<a href="">abstract painting</a>, a&nbsp;<a href="">modern art painting</a>, or a limited edition&nbsp;<a href="">watercolor</a>&nbsp;print signed by the Agency, Saatchi Art has over 370,000 original paintings and <span class="read-more">… <a href="#">Read More</a></span>
                        <span class="details" style="display: none;">
                            prints for sale.&nbsp;<br><br>
                            Paintings both reflect the Agency’s point-of-view and possess an independent voice which speaks a unique message to each beholder. &nbsp;Some collectors focus on media, such as oil paintings on canvas, or watercolors.&nbsp;&nbsp;Others specialize in a particular style, be it&nbsp;fine art,&nbsp;street art, or&nbsp;expressionist paintings.<br><br>
                            As the world’s largest online art gallery, Saatchi Art is thrilled to help people everywhere discover, fall in love with, and own one-of-a-kind paintings by some of the most talented emerging Agencys from around the world.&nbsp;<br><br>
                            For a bit more help finding the perfect artwork from our selection of original paintings for sale, we also invite you to take advantage of our expert Art Advisory service.&nbsp;As Vincent Van Gogh once said, “Paintings have a life of their own that derives from the painter’s soul.”            <span class="re-collapse"> <a href="#">Less</a></span>
                        </span>
                    </p>
                </div>
            </div>*@
    </header>
    <div class="clear"></div>
    <form action="/@CultureHelper.GetCurrentCulture()/search" method="get" style="@rtldirection">
        <div class="row filters-main" style="padding: 20px 20px 0;margin-bottom:10px">
            @if (IsRighToLeft)
            {
                <div class="small-6 medium-2 columns">
                    <button class="btn btn-info btn-block">@SearchRes.Search <i class="fa fa-search"></i></button>
                </div>
            }
            <div class="small-6 medium-2 columns">
                <select name="category" id="selectCategory" class="filter-options">
                    <option value="0">@SearchRes.All_Categories</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Categories)
                    {
                        <option @selected(item.id, ViewBag.categoryId) value="@item.id">
                            @item.name
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="style" id="selectStyle" class="filter-options">
                    <option value="0">@SearchRes.All_Styles</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Styles)
                    {
                        <option @selected(item.Key, ViewBag.styleId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="subject" id="selectSubject" class="filter-options">
                    <option value="0">@SearchRes.All_Subjects</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Subjects)
                    {
                        <option @selected(item.Key, ViewBag.subjectId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="medium" id="selectMedium" class="filter-options">
                    <option value="0">@SearchRes.All_Mediums</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Mediums)
                    {
                        <option @selected(item.Key, ViewBag.mediumId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="price" id="selectPrice" class="filter-options">
                    <option value="0">@SearchRes.All_Prices</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Pricethresholds)
                    {
                        <option @selected(item.Id, ViewBag.priceId) value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
            @if (!IsRighToLeft)
            {
                <div class="small-6 medium-2 columns">
                    <button class="btn btn-info btn-block">@SearchRes.Search <i class="fa fa-search"></i></button>
                </div>
            }
            
        </div>
    </form>
    <div class="clear"></div>

    @if (Model.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <p class="alert alert-info" style="text-align:center">@SearchRes.resultEmpty</p>
            </div>
        </div>
    }

    <ul class="item-list masonry">
        @foreach (var item in Model)
            {
            <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="list-art-image-wrapper">
                        <a href="@Url.Action(item.category.Current().Name,"Artwork", new { id=@item.GenerateSlug() })" itemprop="url">
                            <img src="@item.photo.Path">
                        </a>
                        @if (item.Status == ProductStatus.Sold)
                        {
                            <div style="@rtlSoldItem;margin-right:5px;@rtlFontSize" class="right sold">sold</div>
                        }

                    </div>
                    <div class="item-controls">
                        @if ((item.ISOrginalForSale || item.Status == ProductStatus.forSale) && item.Status != ProductStatus.Sold)
                        {
                            <a href="/@CultureHelper.GetCurrentCulture()/Card/AddToCart?q=@DateTime.Now.Millisecond&id=@item.Id&type=@((int)Ordertype.Orginal)" class="btn-round btn-add-to-cart" style="background-color:rgba(0,0,0,0.6)" title="Add to Cart">
                                <i class="fa fa-shopping-cart" style="color:white"></i>
                            </a>
                        }
                        @if (User.Identity.IsAuthenticated && ViewBag.favorites != null)
                        {
                            if (((ICollection<Favorit>)ViewBag.favorites).Any(a => a.product.Id == item.Id))
                            {
                                <a onclick="addfav(this,@item.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite is-favorite" title="@ShareRes.Remove_from_favorites">
                                    <i class="fa fa-heart"></i>
                                </a>
                            }
                            else
                            {
                                <a onclick="addfav(this,@item.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="@ShareRes.Add_to_Favorites">
                                    <i class="fa fa-heart" style="color:white"></i>
                                </a>
                            }
                        }
                        else
                        {
                            <a onclick="addfav(this,@item.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="@ShareRes.Add_to_Favorites">
                                <i class="fa fa-heart" style="color:white"></i>
                            </a>
                        }
                        <a onclick="addcollect(@item.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-add-to-collection hide-for-small-down" title="@ShareRes.Add_to_a_Collection">
                            <i class="fa fa-plus" style="color:white"></i>
                        </a>
                    </div>
                    
                    <div class="list-art-meta" style="height:auto; @rtlstl">
                        <h4 class="list-art-title left ellipsis" itemprop="name" style="width:95%;@rtlstl">
                            <a href="@Url.Action(item.category.Current().Name,"Artwork", new { id=@item.GenerateSlug() })">@item.Title</a>
                        </h4>
                        <small style="@rtlstl" class="art-category clear left">@item.category.Current().Name</small>
                        <small style="@rtlstlForSize" class="art-category clear left"><span>@item.Height  H</span> x <span> @item.Width  W</span> x <span> @item.Depth </span> cm</small>

                        <div class="list-author clear left" style="@rtlstl">
                            <h5 class="Agency-name left ellipsis" itemprop="creator" style="padding-right:0px" itemscope itemtype="http://schema.org/Person">
                                <a href="@Url.Action(item.category.Current().Name,"Artwork", new { id=@item.GenerateSlug() })" class="Agency-card" title="Profile page for @item.user.FirstName @item.user.LastName" itemprop="url">@item.user.FirstName  @item.user.LastName</a>
                            </h5>
                            @if (item.ISOrginalForSale || item.Status == ProductStatus.forSale)
                            {
                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <!-- internationalization testing -->
                                    <div itemprop="price">
                                        $@item.Price
                                    </div>
                                </div>
                            }
                            <h5 class="user-location ellipsis clear" itemprop="contentLocation">
                                @if (item.user.country != null)
                                {
                                    <span>@item.user.country.Translations.SingleOrDefault(x => x.languageId == System.Globalization.CultureInfo.CurrentCulture.Name.Substring(0, 2)).Name</span>
                                }
                            </h5>
                        </div>

                        <div class="list-art-price" style="@pricertl">

                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <!-- internationalization testing -->
                                <div class="sample-print-price" itemprop="price">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        }
    </ul>
    <div class="clearfix"></div>


    @{
        int page = ViewBag.page;
        int count = ViewBag.count;
        int pageSize = ViewBag.pageSize;
        bool haveNext = page * pageSize < count;
        bool havePrev = page != 1;
        int minpage = 1;
        int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
    }

    <div class="so-pagination">
        <div class="pagination">
            <ul class="pull-right">
                @if (havePrev)
                {
                    <li><a href="/@CultureHelper.GetCurrentCulture()/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                }

                @for (int i = Math.Max(1, page - 2); i < page; i++)
                {
                    <li>
                        <a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@i'" href="/@CultureHelper.GetCurrentCulture()/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@i">@i</a>
                    </li>
                }

                <li class="active">
                    <a>@page</a>
                </li>

                @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                {
                    <li>
                        <a href="/@CultureHelper.GetCurrentCulture()/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@i">@i</a>
                    </li>
                }


                @if (haveNext)
                {
                    <li><a href="/@CultureHelper.GetCurrentCulture()/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                }

                @*
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
            </ul>
            <div class="so-pagination-count pull-right">
                <small>@ShareRes.Showing @((((page - 1) * pageSize) + 1) * (count == 0 ? 0 : 1)) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) @ShareRes.of @count  </small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<script src="~/Content/fullview.js"></script>
@*<script>
        if($().truncate === undefined) {
            Saatchi.Loader.load('fullview', { js: true }, function () {
                $('.expandable').truncate({
                    slicePoint: 300,
                    expandText: 'Read More',
                    userCollapseText: 'Less'
                });
            });
        } else {
            $('.expandable').truncate({
                slicePoint: 300,
                expandText: 'Read More',
                userCollapseText: 'Less'
            });
        }
    </script>*@
<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();

    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>
