
@{
    ViewBag.Title = "R24 | Auctions";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;float:right !important; text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "";
    var rtlPosition = IsRighToLeft ? "margin-right:40px !important" : "";
    var pricertl = IsRighToLeft ? "left:0;right:auto;text-align:left;" : "";
}

@if (IsRighToLeft)
{
    <style>
        .collection-title {
            font-size: 14px !important;
        }
    </style>
}

@model  List<AuctionInfo>
@using DataLayer.Extentions

@helper selected(int current, int selected)
{
if (current == selected)
{
        @:selected
}
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .collection-meta {
        height: auto !important;
    }

    @@-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<div role="main" class="row row-layout browse-content">
    <header class="small-12 columns" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="small-12 columns breadcrumbs">
                <span>

                </span>
            </div>
        </div>
    </header>
    <div class="clear"></div>

    @if (Model.Count == 0)
            {
        <div class="row">
            <div class="col-md-12">
                <p class="alert alert-info" style="text-align:center">@SearchRes.resultEmpty</p>
            </div>
        </div>
    }

    @*<div class="row">
            <div class="row browse-by">

                    @foreach (var item in Model)
                {



                            <div class="small-12 medium-4 columns browse-item"
                                 style="background-color: #363636;background-size:contain;background-image: url('@item.Listings.FirstOrDefault().Artwork.Sqphoto.Path')">
                                <a href="@CultureHelper.GetCurrentCulture()/auction/" class="flexcontainer">
                                    <div>
                                        <em>@item.Current().Name</em>
                                        @item.Current().Description
                                    </div>
                                    <button>@SearchRes.ViewArtwork</button>
                                </a>
                            </div>


                    }

            </div>
            <div class="clearfix"></div>
        </div>*@

    <div class="row">
        <ul id="infinite" class="item-list">
            @foreach (var item in Model)
            {
                <li class="list-item collection">
                    <div class="small-12 columns">
                        <a href="@Url.Action("AuctionArts","Auction", new { id=@item.GenerateSlug() })">
                            @if (item.Listings != null && item.Listings.Count() != 0 && item.Listings.First().Artwork != null)
                            {
                                <img src="@item.Listings.First().Artwork.Widephoto.Path" alt="">
                            }
                            else
                            {
                                <img src="//d3t95n9c6zzriw.cloudfront.net/common/placeholder-square-93.jpg" style="width:300px;height:197px;" alt="" nopin="nopin">
                            }

                        </a>
                    </div>
                    <div class="row">
                        @for (int i = 2; i <= 4; i++)
                        {
                            var art = item.Listings.Skip(i - 1).FirstOrDefault();

                            if (art == null)
                            {
                                <div class="small-4 columns">
                                    <a href="@Url.Action("AuctionArts","Auction", new { id=@item.GenerateSlug() })" title="">
                                        <img src="//d3t95n9c6zzriw.cloudfront.net/common/placeholder-square-93.jpg" alt="" nopin="nopin">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="small-4 columns">
                                    <a href="@Url.Action("AuctionArts","Auction", new { id=@item.GenerateSlug() })" title="">
                                        <img src="@art.Artwork.Sqphoto.Path" alt="test collection item" nopin="nopin">
                                    </a>
                                </div>
                            }
                        }
                    </div>

                    <div class="row collection-meta">
                        <h4 class="collection-title">
                            <a href="@Url.Action("AuctionArts","Auction", new { id=@item.GenerateSlug() })">
                                <span class="ellipsis">@item.Current().Name</span>
                            </a>
                        </h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row collection-meta" style="padding-top:1px">
                        @*@if (item.user != null)
                            {
                                <a href="/@CultureHelper.GetCurrentCulture()/publicprofile?id=@item.user_id">@item.user.FirstName @item.user.LastName </a>
                            }*@
                        <span>@item.StartTimestamp</span><br />
                        <span>@item.EndTimestamp</span>
                        <div class="clearfix"></div>
                    </div>
                </li>
            }
        </ul>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>


    @{
        int page = ViewBag.page;
        int count = ViewBag.count;
        int pageSize = ViewBag.pageSize;
        bool haveNext = page * pageSize < count;
        bool havePrev = page != 1;
        int minpage = 1;
        int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
    }

    <div class="so-pagination">
        <div class="pagination">
            <ul class="pull-right">
                @if (havePrev)
                {
                    <li><a href="/@CultureHelper.GetCurrentCulture()/Auction/Index/@ViewBag.query/@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                }

                @for (int i = page - 1; i >= minpage && Math.Abs(i - page) < 3; i--)
                {
                    <li>
                        <a href="/@CultureHelper.GetCurrentCulture()/Auction/Index/@ViewBag.query/@i">@i</a>
                    </li>
                }

                <li class="active">
                    <a>@page</a>
                </li>

                @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                {
                    <li>
                        <a href="/@CultureHelper.GetCurrentCulture()/Auction/Index/@ViewBag.query/@i">@i</a>
                    </li>
                }

                @if (haveNext)
                {
                    <li><a href="/@CultureHelper.GetCurrentCulture()/Auction/Index/@ViewBag.query/@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
            <div class="so-pagination-count pull-right">
                <small>Showing @(((page - 1) * pageSize) + 1) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) of @count  </small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<script src="~/Content/fullview.js"></script>

<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });
    $('.joyride-tip-guide').delay(5000).fadeOut('slow');
    var observer;
    if (observer) {
        observer.disconnect();
    }
</script>

