@model ICollection<Favorit>
@using DataLayer.Extentions
@{
    ViewBag.Title = "Favorites | R24";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;float:right !important; text-align:right !important" : "";
    var rtlstlForSize = IsRighToLeft ? "direction:ltr;float:right !important; text-align:right !important; margin-top:7px" : "margin-top:7px";
    var rtldirection = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "";
    var rtlPosition = IsRighToLeft ? "margin-right:40px !important" : "";
    var pricertl = IsRighToLeft ? "left:0;right:auto;text-align:left;" : "";
}

<div role="main" class="row row-layout profile-content">


    @*<div id="shareArt" class="share-module" data-url="http://www.saatchiart.com/account/favorite/994144" style="display: block;">
            <a class="share facebook" data-source="facebook" data-type="share" href="http://facebook.com/sharer.php?u=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144&amp;text=View+Favorites+by+adib+dehghan+on+Saatchi+Art+%40SaatchiArt" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="share pinterest" href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144&amp;media=http:&amp;description=Favorites+by+adib+dehghan+on+Saatchi+Art+%23art" target="_blank">
                <i class="fa fa-pinterest"></i>
            </a>
            <a class="email so-email-to-friend-open" href="#" data-type="emailToFriend" data-emailtofriend="{&quot;url&quot;:&quot;http://www.saatchiart.com/account/favorite/994144&quot;,&quot;shareImage&quot;:&quot;&quot;,&quot;pageTitle&quot;:&quot;Favorites by adib dehghan&quot;}">
                <i class="fa fa-envelope"></i>
            </a>
            <div id="totalShares" class="total-share"><span>0</span></div>
        </div>*@


    <script>
        Saatchi.EmailToFriend.modalTrack = 'email-to-friend-page';
        Saatchi.EmailToFriend.modalUrl = '/social/email/page';
        Saatchi.EmailToFriend.modalTitle = 'Share this page';
        Saatchi.EmailToFriend.init();
    </script>
    <header class="small-12 columns" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
        <a href="/@CultureHelper.GetCurrentCulture()/publicprofile?id=@ViewBag.id" title="@ViewBag.ProfileFullName 's profile" itemprop="url">
            @if (!String.IsNullOrEmpty(ViewBag.PhotoPath))
            {
                if (((string)ViewBag.PhotoPath).Contains("https"))
                {
                    <img src="@ViewBag.PhotoPath" alt="avatar" class="avatar" itemprop="image">
                }
                else
                {
                    <img src="/@ViewBag.PhotoPath" alt="avatar" class="avatar" itemprop="image">
                }
            }
            else
            {
                <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="avatar" class="avatar" itemprop="image">
            }

            <h1 class="profile-subpage-name ellipsis" itemprop="name">@ViewBag.ProfileFullName</h1>
            <i class="fa fa-caret-left"></i> @ProfileRes.Back_to_profile
        </a>

    </header>

    <div class="profile-nav large-12 columns">
        <a style="@rtldirection" href="/@CultureHelper.GetCurrentCulture()/publicprofile/artworks?id=@ViewBag.id" class="">
            <i class="fa fa-suitcase"></i> @ProfileRes.Artwork  <span>(@ViewBag.artworkCount)</span>
        </a>
        <a style="@rtldirection" href="/@CultureHelper.GetCurrentCulture()/publicprofile/collection?id=@ViewBag.id" class="">
            <i class="fa fa-th"></i> @ProfileRes.Collections <span>(@ViewBag.collectionCount)</span>
        </a>
        <a style="@rtldirection" href="/@CultureHelper.GetCurrentCulture()/publicprofile/favorites?id=@ViewBag.id" class="active">
            <i class="fa fa-heart"></i> @ProfileRes.Favorites <span>(@ViewBag.count)</span>
        </a>
    </div>
    <div class="row sort">
        <div id="listSort" class="favorites-sort small-12 medium-6 columns">
        </div>
        <div class="small-12 medium-6 columns view-options mt1" style="display:none">
            <div>View:</div> <button data-view="fullView" class="view-option btn-round btn-masonry so-quick-tip active" oldtitle="View multiple items"></button>
            <button data-view="pageWidthView" class="view-option btn-round btn-fullscroll so-quick-tip" oldtitle="View full-width, scrolling"><i class="fa fa-stop"></i></button>
            <button id="firstStop" data-view="slideshowView" class="view-option btn-round btn-slideshow so-quick-tip" onclick="$('.joyride-tip-guide').fadeOut();" oldtitle="View as slideshow"><i class="fa fa-expand"></i></button>
        </div>
    </div>
    <script>
        // [art.id_user_art, art.id_user_art, art.id_user_art]
        Saatchi.Favorite.users = [2633376, 3752244];
    </script>
    <div class="row">

        <ul id="infinite" class="item-list masonry" style="position: relative; height: 372.891px;">
            @foreach (var item in Model)
            {
                <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                    <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="list-art-image-wrapper">
                            <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" itemprop="url">
                                <img src="@item.product.photo.Path">
                            </a>

                        </div>
                        <div class="item-controls">
                            @if (item.product.ISOrginalForSale || item.product.Status == ProductStatus.forSale)
                            {
                                <a href="/@CultureHelper.GetCurrentCulture()/Card/AddToCart?id=@item.product.Id&type=@((int)Ordertype.Orginal)" class="btn-round btn-add-to-cart" style="background-color:rgba(0,0,0,0.6)" title="@ShareRes.Add_to_cart">
                                    <i class="fa fa-shopping-cart" style="color:white"></i>
                                </a>
                            }
                            @if (User.Identity.IsAuthenticated && ViewBag.favorites != null)
                            {
                                if (((ICollection<Favorit>)ViewBag.favorites).Any(a => a.product.Id == item.product.Id))
                                {
                                    <a onclick="addfav(this,@item.product.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite is-favorite" title="@ShareRes.Remove_from_favorites">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                }
                                else
                                {
                                    <a onclick="addfav(this,@item.product.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="@ShareRes.Add_to_Favorites">
                                        <i class="fa fa-heart" style="color:white"></i>
                                    </a>
                                }
                            }
                            else
                            {
                                <a onclick="addfav(this,@item.product.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="@ShareRes.Add_to_Favorites">
                                    <i class="fa fa-heart" style="color:white"></i>
                                </a>
                            }
                            <a onclick="addcollect(@item.product.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-add-to-collection hide-for-small-down" title="@ShareRes.Add_to_a_Collection">
                                <i class="fa fa-plus" style="color:white"></i>
                            </a>
                        </div>
                        <div class="list-art-meta" style="height:auto; @rtlstl">
                            <h4 class="list-art-title left ellipsis" itemprop="name" style="@rtlstl">
                                <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })">@item.product.Title</a>
                            </h4>                            
                            <small style="@rtlstl" class="art-category clear left">@item.product.category.Current().Name</small>
                            <small style="@rtlstlForSize" class="art-category clear left"><span>@item.product.Height  H</span> x <span> @item.product.Width  W</span> x <span> @item.product.Depth </span> cm</small>
                            <div class="list-author clear left" style="@rtlstl">
                                <h5 class="Agency-name left ellipsis" itemprop="creator" style="padding-right:0px" itemscope itemtype="http://schema.org/Person">
                                    <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" class="Agency-card" title="Profile page for @item.user.FirstName @item.user.LastName" itemprop="url">@item.user.FirstName  @item.user.LastName</a>
                                </h5>
                                @if (item.product.ISOrginalForSale || item.product.Status == ProductStatus.forSale)
                                {
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <!-- internationalization testing -->
                                        <div itemprop="price">
                                            $@item.product.Price
                                        </div>
                                    </div>
                                }
                                <h5 class="user-location ellipsis clear" itemprop="contentLocation">
                                    @if (item.user.country != null)
                                    {
                                        <span>@item.user.country.Translations.SingleOrDefault(x => x.languageId == System.Globalization.CultureInfo.CurrentCulture.Name.Substring(0, 2)).Name</span>
                                    }
                                </h5>
                            </div>

                            <div class="list-art-price" style="@pricertl">

                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <!-- internationalization testing -->
                                    <div class="sample-print-price" itemprop="price">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="clearfix"></div>
        @{
            int page = ViewBag.page;
            int count = ViewBag.count;
            int pageSize = ViewBag.pageSize;
            bool haveNext = page * pageSize < count;
            bool havePrev = page != 1;
            int minpage = 1;
            int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
        }

        <div class="so-pagination" style="margin-bottom:15px">
            <div class="pagination">
                <ul class="pull-right">
                    @if (havePrev)
                    {
                        <li><a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@(page-1)'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                    }

                    @for (int i = Math.Max(1, page - 2); i < page; i++)
                    {
                        <li>
                            <a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@i'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@i">@i</a>
                        </li>
                    }

                    <li class="active">
                        <a>@page</a>
                    </li>

                    @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                    {
                        <li>
                            <a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@i'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@i">@i</a>
                        </li>
                    }


                    @if (haveNext)
                    {
                        <li><a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@(page+1)'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                    }

                    @*
                        <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
                </ul>
                <div class="so-pagination-count pull-right">
                    <small>@ShareRes.Showing @((((page - 1) * pageSize) + 1) * (count == 0 ? 0 : 1)) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) @ShareRes.of @count  </small>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>

</div>
<script src="~/Content/fullview.js"></script>
<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>
