
@using Blog.Extentions
@using Blog.Objects
@using Resources;
@{
    ViewBag.Title = "R24 Blog";
    var widePostCol = "col-lg-8 col-md-12";
    var sqrPostCol = "col-lg-4 col-md-6";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl !important" : "";
}

@model IList<Post>
@{ var posts = Model.Where(a => a.postType != PostType.ShowCase); }
@foreach (var item in Model)
{
    <div class="@sqrPostCol">
        <div class="post-element">
            <div class="img-holder">
                <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                    <img width="300" height="300" src="/@item.Thumbnail" class="attachment-saatchi-medium size-saatchi-medium wp-post-image" alt="">
                </a>
            </div><!-- .img-holder -->

            @if (item.SubCategory != null)
            {
                <h3><a href="@Url.Action(item.Category.Name, "Category",new { id =item.SubCategory.GenerateSlug() })">@item.SubCategory.Current().Name</a></h3>
            }
            else
            {
                <h3><a href="@Url.Action(item.Category.Name, new { id = item.Category.GenerateSlug() })">@item.Category.Current().Name</a></h3>
            }
            <h4>
                <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                    @item.Current().Title
                </a>
            </h4>
            <p></p><p style="@rtlstl">@item.Current().ShortDescription</p>
            <p></p>
        </div><!-- .post-element -->
    </div><!-- .col-lg-4 -->
}