@using Blog.Extentions
@using Blog.Objects
@{
    ViewBag.Title = ViewBag.CategoryName + " | Blog";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "direction:ltr !important;text-align:left !important";
    var dir = IsRighToLeft ? "direction:rtl !important" : "";
}
@model IList<Post>

<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="@rtlstl">@(((SubCategory)ViewBag.SubCategory).Current().Name)</h2>
                <p></p><p style="@rtlstl">@(((SubCategory)ViewBag.SubCategory).Current().Description)</p>
                <p></p>
                <br />
            </div><!-- .col-lg-12 -->
        </div>

        @if (Model.Count > 0)
        {
            <div class="row holder">


                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-md-6">
                        <div class="post-element">
                            <div class="img-holder">
                                <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                                    <img width="300" height="300" src="/@item.Thumbnail" class="attachment-saatchi-medium size-saatchi-medium wp-post-image" alt="">
                                </a>
                            </div><!-- .img-holder -->
                            @if (item.SubCategory != null)
                            {
                                <h3><a href="@Url.Action(item.Category.Name, "Category", new { id = item.SubCategory.GenerateSlug() })">@item.SubCategory.Current().Name</a></h3>
                            }
                            else
                            {
                                <h3><a href="@Url.RouteUrl("Category", new { id = item.Category.GenerateSlug() })">@item.Category.Current().Name</a></h3>
                            }
                            <h4 style="@dir">
                                <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                                    @item.Current().Title
                                </a>
                            </h4>
                            <p></p><p>@item.Current().ShortDescription</p>
                            <p></p>
                        </div><!-- .post-element -->
                    </div><!-- .col-lg-4 -->

                }

                <div class="append-post-container"></div>
            </div>



            <div class="row loader">
                <div class="col-lg-12">
                    <a style="cursor:pointer" onclick="LoadMore();" class="load-more-btn" data-total="48">Load more</a>
                </div>
            </div>
        }
    </main><!-- #main -->
</div>

<script>
    var page = 1;
    function LoadMore() {
        page++;
        $.get("/@CultureHelper.GetCurrentCulture()/category/more?id=" + @ViewBag.id +"&page=" + page + "&isSub=" + "@ViewBag.isSub", function (data) {
            $(".holder").append(data);
        });
    }
</script>