@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
}
<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        @using (Ajax.BeginForm("Setep5", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.error))
                            {
                                <div class="wizard__errors">
                                    <div class="wizard__errors__error">@ViewBag.error</div>
                                </div>
                            }
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(@ViewBag.progress);"></div>
                                </div>
                                <div class="mediums">
                                    <h1 class="animate-group-0-0">@UploadRes.step5_title</h1>
                                    <p class="descriptor animate-group-0-1" style="@rtldirection">@UploadRes.step5_description</p>
                                    <div>
                                        <div class="form-group form-group--block z-index-fix-0">
                                            <div class="input-container z-index-fix-0 text-left animate-group-0-2" style="max-width:none !important">
                                                <label style="@rtlstl">@UploadRes.step5_mediums</label>
                                                <input name="Mediums" type="text" style="max-width:none" class="sMediums" />
                                            </div>
                                            <div class="input-container z-index-fix-1 text-left animate-group-0-3">
                                                <label style="@rtlstl">@UploadRes.step5_materials</label>
                                                <select name="Materials" class="sMaterials" multiple="multiple">
                                                    @foreach (var item in (Dictionary<int, string>)ViewBag.Materials)
                                                    {
                                                        <option value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="input-container z-index-fix-2 text-left animate-group-0-4">
                                                <label style="@rtlstl">@UploadRes.step5_styles</label>
                                                <input name="Styles" type="text" style="max-width:none" class="sStyles" />

                                            </div>
                                        </div>
                                        <div class="form-group form-group--block animate-group-0-4 mediums__keywords-container">
                                            <h1>@UploadRes.step5_keywords</h1>
                                            <p class="descriptor" style="@rtldirection">@UploadRes.step5_keywords_detail <a target="_blank" href="/@CultureHelper.GetCurrentCulture()/support/article/3-getting-started#4">@UploadRes.step5_keywords_detail_here</a> @UploadRes.step5_keywords_detail_here_continue</p>
                                            <div class="input-container text-left">
                                                <label style="@rtlstl">@UploadRes.step5_keywords_lable</label>
                                                <input name="Keywords" type="text" class="tag" />
                                            </div>
                                        </div>
                                        <div class="form-group form-group--block mediums__thumbnail animate-group-0-5">
                                            <img width="200" src="@ViewBag.lastpic?p=@(new Random().Next(1,1000))">
                                        </div>
                                    </div>
                                </div>
                                <div onclick="callbackpage()" class="wizard-button wizard-button--left"><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i><div class="wizard-button__text"><span>@UploadRes.step5_pre_click</span></div></div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click();">
                                    <div class="wizard-button__text"><span>@UploadRes.step5_next_click</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i>
                                </div>
                                <div class="mobile-status-bar">
                                    <span><button type="button" onclick="callbackpage();" class="mobile-status-bar__nav mobile-status-bar__nav--left"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></button></span>
                                    <span><button type="button" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i></button></span><div class="progress-component mobile-status-bar__progress"><div class="progress-component__inner" style="transform: translateX(0px);"></div></div><span></span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".sMediums").select2({
        tags: [@(Html.Raw(string.Join(",", ((Dictionary<int, string>)ViewBag.Mediums).Select(x =>("'" + x.Value + "'")))))]
    });
    $(".sMaterials").select2({
        allowClear: true,
    });
    $(".sStyles").select2({
        tags: [@(Html.Raw(string.Join(",", ((Dictionary<int, string>)ViewBag.Styles).Select(x =>("'" + x.Value + "'")))))]
    });
    $(".tag").select2({
       tags: []
    });
</script>


<script>
    $("html, body").animate({ scrollTop: 0 }, "slow");

    function callbackpage() {
        $.ajax({
            type: 'get',
            url: '/@CultureHelper.GetCurrentCulture()/upload/Setep4',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#updatediv').html(data);
            },
            error: function (data) {

            }
        });
    }
</script>