@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl !important" : "";
}

<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        @using (Ajax.BeginForm("Setep2", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="wizard__errors">
                                    <div class="wizard__errors__error">@ViewBag.Error</div>
                                </div>
                            }
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(82.2222px);"></div>
                                </div>
                                <div class="category">
                                    <div class="form-group">
                                        <h1 class="animate-group-0-0">@UploadRes.Subject</h1>

                                        <select name="subject" class="animate-group-0-1 category__subject rw-combobox rw-widget" style="@rtlstl">
                                            <option value="0">@UploadRes.Subject</option>
                                            @foreach (var item in (Dictionary<int, string>)ViewBag.subjects)
                                            {
                                         
                                                <option value="@item.Key">@item.Value</option>
                                            }

                                        </select>

                                    </div>
                                    <h1 class="animate-group-0-3">@UploadRes.Category</h1>
                                    <p class="descriptor animate-group-0-4" style="@rtlstl">@UploadRes.select_category_str</p>
                                    <div class="grid-image-select">
                                        @{ var cats = (List<CategoryViewModel>)ViewBag.category;}
                                        <select id="catselect" name="category" style="display: none;">
                                            @for (int i = 0; i < cats.Count(); i++)
                                            {
                                                if (i == 0)
                                                {
                                                    <option value="@cats[i].id" selected>@cats[i].name</option>
                                                }
                                                else
                                                {
                                                    <option value="@cats[i].id">@cats[i].name</option>
                                                }
                                            }
                                        </select>

                                        @for (int i = 0; i < cats.Count(); i++)
                                        {
                                            var selected = "";
                                            if (i == 0)
                                            {
                                                selected = "grid-image-select__container--selected";
                                            }
                                            <div class="grid-image-select__container animate-group-1-@i @selected" data-id="@cats[i].id">
                                                <div class="grid-image-select__container__background-container">
                                                    <div class="grid-image-select__container__background" style="background-image: url(@cats[i].photo);"></div>
                                                </div>
                                                <div class="grid-image-select__container__copy">@cats[i].name</div>
                                                <div class="react-tooltip" style="bottom: 230px;">
                                                    <div class="react-tooltip__title">Photography</div>
                                                    <div class="react-tooltip__text">Select this option if your limited or open edition photograph is an image captured using a camera and has been developed in a darkroom or manipulated digitally.</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div onclick="callbackpage();" class="wizard-button wizard-button--left">
                                    <i class="wizard-button__icon">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg>
                                    </i><div class="wizard-button__text"><span>@UploadRes.step2_pre_click</span></div>
                                </div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');">
                                    <div class="wizard-button__text"><span>@UploadRes.step2_next_click</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i>
                                </div>
                                <div class="mobile-status-bar">
                                    <span><button type="button" onclick="callbackpage();" class="mobile-status-bar__nav mobile-status-bar__nav--left"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></button></span>
                                    <span><button type="button" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i></button></span><div class="progress-component mobile-status-bar__progress"><div class="progress-component__inner" style="transform: translateX(0px);"></div></div><span></span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.grid-image-select__container').click(function () {
        $('.grid-image-select__container').removeClass("grid-image-select__container--selected");
        $(this).addClass("grid-image-select__container--selected");
        var id = $(this).data('id');
        $('#catselect').val(id);
    });

</script>


<script>

    $("html, body").animate({ scrollTop: 0 }, "slow");
    function callbackpage() {
        $.ajax({
            type: 'get',
            url: '/@CultureHelper.GetCurrentCulture()/upload/Setep1',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#updatediv').html(data);
            },
            error: function (data) {

            }
        });
    }

</script>