@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
}

<style>
    .form-group--inline label {
        width: 70px;
    }
</style>

<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        <span></span>
                        @using (Ajax.BeginForm("Setep10", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnSuccess = "OnAjaxComplete(data)",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="wizard__errors">
                                    <div class="wizard__errors__error">@ViewBag.Error</div>
                                </div>
                            }
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(740px);"></div>
                                </div>
                                <div class="wizard-step">
                                    <div class="pricing">
                                        <h1 class="animate-group-0-0">@UploadRes.Pricing</h1>
                                        <p class="descriptor animate-group-0-1" style="@rtldirection">
                                        <p style="@rtldirection">@UploadRes.step10_description</p>
                                        <div class="animate-group-0-2 z-index-fix-0 form-group form-group--inline" style="@rtldirection">
                                            <label for="price" style="@rtlstl">
                                                @UploadRes.step10_l1
                                            </label>
                                            <div class="price__price-input-container">
                                                <input type="number" name="Price" class="" step="any" id="price">
                                                <div class="pricing__price-cta"></div>
                                            </div>
                                        </div>
                                        <div class="animate-group-0-3 form-group form-group--inline pricing__profit" style="@rtldirection">
                                            <label style="@rtlstl" for="profit">
                                                @UploadRes.step10_l2
                                            </label>
                                            <input type="text" name="profit" value="$ --" readonly="" id="profit">
                                        </div>
                                        <div>
                                            @*<div class="animate-group-0-4 form-group form-group--inline" style="@rtldirection"><label style="@rtlstl" for="shipping-cost">@UploadRes.step10_l3</label><input type="text" value="$ --" readonly="" id="shipping-cost"></div>*@
                                            <div class="animate-group-0-5 pricing__separator"></div>
                                            <div class="animate-group-0-6 form-group form-group--inline" style="@rtldirection"><label style="@rtlstl" for="allin">@UploadRes.step10_l4</label><input type="text" name="total" class="dark" value="$ --" readonly="" id="total"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-button wizard-button--left" onclick="callbackpage();"><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i><div class="wizard-button__text"><span>@UploadRes.step10_pre_click</span></div></div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click();"><div class="wizard-button__text"><span>@UploadRes.step10_next_click</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></div>
                                <div class="mobile-status-bar">
                                    <span><button type="button" onclick="callbackpage();" class="mobile-status-bar__nav mobile-status-bar__nav--left"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></button></span>
                                    <span><button type="button" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i></button></span><div class="progress-component mobile-status-bar__progress"><div class="progress-component__inner" style="transform: translateX(0px);"></div></div><span></span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $("html, body").animate({ scrollTop: 0 }, "slow");



    function callbackpage() {
        $.ajax({
            type: 'get',
            url: '/@CultureHelper.GetCurrentCulture()/upload/Setep9',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#updatediv').html(data);
            },
            error: function (data) {

            }
        });
    }

    function OnAjaxComplete(arg) {
        if (arg.result == "artworks") {
            location.href = '/@CultureHelper.GetCurrentCulture()/profile/artworks';
        }
        else if (arg.result == "id") {
            location.href = '/@CultureHelper.GetCurrentCulture()/accountinfo/uploadid';
        }
    }


    $(window).keydown(function (event) {
        if (event.keyCode == 13) {

            var price = $('#price').val();
            var profit = price * .9;
            $('#profit').val(profit + '$');
            $('#total').val(price + '$');
            event.preventDefault();
            return false;
        }
    });

    $('#price').change(function () {

        var price = $(this).val();
        var profit = price * .9;
        $('#profit').val(profit + '$');
        $('#total').val(price + '$');
    });

</script>