@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl !important" : "";
}

<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span>
                    </span>
                    <div class="new-page">


                        @using (Ajax.BeginForm("Setep1", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="wizard__errors">
                                    <div class="wizard__errors__error">@ViewBag.Error</div>
                                </div>
                            }

                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(0px);">

                                    </div>
                                </div><div class="upload-component">
                                    <div class="image-upload-dragover">
                                        <div class="image-upload-dragover__message">
                                        </div>
                                    </div>
                                    <h1 class="animate-group-0-0">@UploadRes.Upload</h1>
                                    <p class="animate-group-0-1 descriptor" style="@rtlstl">
                                        @UploadRes.upload_string
                                    </p>

                                    <div class="animate-group-0-2">
                                        <div id="rpl" class="upload-component__select-container upload-component__select-container--empty">
                                            <img id="upedimg" class="upload-component__thumbnail" alt="Artwork preview" hidden style="opacity: 1;">
                                            <img id="loadingimg" class="upload-component__loading-indicator" hidden alt="loading" src="~/Content/large.gif">
                                        </div>
                                    </div>
                                    <div class="animate-group-0-3">
                                        <div class="upload-button">
                                            <button type="button" class="button button--blue" onclick="$('#file').click()">
                                                <span>
                                                    <i class="upload-button__icon">
                                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xml:space="preserve">
                                                        <path class="path" d="M15,5v5h-5v5H5v-5H0V5h5V0h5v5H15z"> </path>
                                                     </svg>
                                                    </i>
                                                    <span id="sititle">@UploadRes.SelectImage</span>
                                                </span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click(); $('#submit').attr('id','dontwork');">
                                    <div class="wizard-button__text">
                                        <span>@UploadRes.step1_next_click</span>
                                    </div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i>
                                </div>
                                <div class="mobile-status-bar">
                                    <span></span>
                                    <span>
                                        <button type="button" onclick="$('#submit').click(); $('#submit').attr('id','dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right">
                                            <i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i>
                                        </button>
                                    </span>
                                    <div class="progress-component mobile-status-bar__progress">
                                        <div class="progress-component__inner" style="transform: translateX(0px);">
                                        </div>
                                    </div>
                                    <span>

                                    </span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                            <input type="hidden" id="img" name="img" />
                            <input type="hidden" id="width" name="width" style="display: none;">
                            <input type="hidden" id="height" name="height" style="display: none;">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="imageUploadForm" style="display:none" enctype="multipart/form-data" method="post">
    <input type="file" id="file" name="file" style="display: none;">
</form>


@if (!string.IsNullOrEmpty(ViewBag.lastpic))
{
    <script>
        var img = '@ViewBag.lastpic';
        $('#img').val(img);
        $('#rpl').removeClass('upload-component__select-container--empty');
        $('#upedimg').attr('src', img);
        $('#upedimg').show();
        $('#sititle').html('Select Image');
        $('#loadingimg').hide();
    </script>
}


<script>
    $('#imageUploadForm').on('submit', (function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: 'POST',
            url: '@ViewBag.iserver',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#img').val(data.data);
                $('#width').val(data.width);
                $('#height').val(data.height);
                $('#rpl').removeClass('upload-component__select-container--empty');
                $('#upedimg').attr('src', data.data);
                $('#upedimg').show();
                $('#sititle').html('Select Image');
                $('#loadingimg').hide();
            },
            error: function (data) {
                alert("Error: " + data.data);
                $('#sititle').html('Select Image');
                $('#loadingimg').hide();
            }
        });
    }));

    $('#file').live('change', function () {
        $('#sititle').html('Uploading...');
        $('#loadingimg').show();
        $("#imageUploadForm").submit();
    });
</script>
