@model UploadViewModel.step7
@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
    var counterDirection = IsRighToLeft ? "left:13px;right:auto !important" : "";
}


<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        @using (Ajax.BeginForm("Setep7", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="wizard__errors" style="@rtldirection">
                                    <div class="wizard__errors__error">@ViewBag.Error</div>
                                </div>
                            }
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                @if ((bool)Session["isOrginal"] == false)
                                {
                                    <div class="progress-component wizard-progress">
                                        <div class="progress-component__inner" style="transform: translateX(@ViewBag.progress);"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-component wizard-progress">
                                        <div class="progress-component__inner" style="transform: translateX(493.333px);"></div>
                                    </div>
                                }

                                <div class="description">
                                    <div class="form-group animate-group-0-1">
                                        <h1>@UploadRes.step7_title</h1>
                                        <p>@UploadRes.step7_title_desc</p>
                                        <div class="title-input title-input--limited-edition">
                                            <div class="title-input__title-wrapper" style="@rtldirection">
                                                <input step="@rtlstl" type="text" name="Title" value="">
                                                <div class="title-input__title-wrapper__extra">
                                                </div>
                                            </div>
                                            <div class="title-input__limited-edition" style="@rtlstl">
                                                <strong>@UploadRes.Limited_Edition</strong>
                                                <input type="text" name="avaible" maxlength="3" class="">
                                                <strong>@UploadRes.of</strong>
                                                <input type="text" name="AllEntity" maxlength="3" class="">
                                            </div>
                                        </div>
                                    </div>
                                    @if (((ProfileType)ViewBag.profileType) == ProfileType.Collector)
                                    {
                                        <div class="form-group animate-group-0-1">
                                            <h1>@UploadRes.step7_Agency</h1>
                                            <input name="AgencyName" list="AgencyName" type="text" style="max-width:none" class="aAgencys" />
                                            <datalist id="AgencyName">
                                                @foreach (var item in (List<AgencyViewModel>)ViewBag.Agencys)
                                                {
                                                    var fullName = item.Firstname + " " + item.Lastname;
                                                    <option value="@fullName"></option>
                                                }
                                            </datalist>
                                        </div>
                                    }
                            
                                    <h1 class="animate-group-0-3">@UploadRes.description</h1>
                                    <div class="descriptor text-left animate-group-0-3" style="@rtlstl">
                                        <p>@UploadRes.step7_description</p>
                                    </div>
                                    <div class="descriptor text-left animate-group-0-4" style="@rtlstl">
                                        <strong>
                                            <p>@UploadRes.step7_ask_1</p>
                                            <p>@UploadRes.step7_ask_2</p>
                                            <p>@UploadRes.step7_ask_3</p>
                                        </strong>
                                    </div>
                                    <div class="animate-group-0-5 form-group">
                                        <div class="description-input__description-container" style="@rtlstl">
                                            <div class="description-input__prop-aggregate">@ViewBag.categoryString: @ViewBag.firstmedium @SearchRes.On @ViewBag.firstmaterial</div>
                                            <textarea id="Description" name="Description" class="description-input__description" placeholder="@UploadRes.Writehere"></textarea>
                                            <div id="description__word-count" name="description__word-count" class="description__word-count" style="@counterDirection"></div>
                                            <div class="description-input__prop-aggregate">@UploadRes.step5_keywords: @ViewBag.Keywords</div>
                                        </div>
                                    </div>
                                </div>
                                <div onclick="callbackpage()" class="wizard-button wizard-button--left"><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i><div class="wizard-button__text"><span>@UploadRes.step7_pre_click</span></div></div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');">
                                    <div class="wizard-button__text"><span>@UploadRes.step7_next_click</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i>
                                </div>
                                <div class="mobile-status-bar">
                                    <span><button type="button" onclick="callbackpage();" class="mobile-status-bar__nav mobile-status-bar__nav--left"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></button></span>
                                    <span><button type="button" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i></button></span><div class="progress-component mobile-status-bar__progress"><div class="progress-component__inner" style="transform: translateX(0px);"></div></div><span></span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @*$(".aAgencys").select2({
        tags: [@(Html.Raw(string.Join(",", ((List<AgencyViewModel>)ViewBag.Agencys).Select(x =>("'" + x.Firstname+" "+x.Lastname + "'")))))],
        maximumSelectionLength: 2
    });*@
</script>


<script>
    $("html, body").animate({ scrollTop: 0 }, "slow");
    //$("#description").keyup(function () {
    //    $("#description__word-count").html($(this).val().length);
    //    alert(1);
    //});

    document.getElementById('Description').onkeyup = function () {
        document.getElementById('description__word-count').innerHTML = this.value.length;

    };

    function callbackpage() {
        $.ajax({
            type: 'get',
            url: '/@CultureHelper.GetCurrentCulture()/upload/Setep6',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#updatediv').html(data);
            },
            error: function (data) {

            }
        });
    }



</script>