
@{
    ViewBag.Title = "Index";
}

@model IEnumerable<Product>

@{
    ViewBag.Title = "index";

    var c_action = "index";
}


<div class="page-title">
    <div class="title">  محصولات</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;"> محصولات</a>
        </li>
    </ol>
</div>


<div class="clearfix"></div>


<div class="card-columns four">
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="card m-t m-b-0 bg-white">
                @if (item.Sqphoto.Path.Contains("cuber.dev"))
                {
                    <img class="card-img-top img-responsive" alt="Project 0" src="@item.Sqphoto.Path">

                }
                else
                {
                    <img class="card-img-top img-responsive" alt="Project 0" src="http://cuber.dev/@item.Sqphoto.Path">
                }

                <div class="card-block">
                    <div>@item.user.FirstName @item.user.LastName <a href="/Products/detail/@item.Id" class="btn btn-xs btn-primary pull-left">Detail</a></div>
                  
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning ">
            هیچ محصولی ثبت نشده
        </div>
    }
</div>

<hr />


<ul class="pagination clearfix block">
    @if (ViewBag.page != 1)
    {
        <li>
            <a href="@Url.Action(c_action, new { page = ViewBag.page - 1, search = ViewBag.search,roledusers=ViewBag.roledusers  })">→</a>
        </li>
    }

    @for (int i = 1; i <= ViewBag.maxpage; i++)
    {
        if (ViewBag.page == i)
        {
            <li class="active">
                <a class="" href="@Url.Action(c_action,new { page = i, search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }
        else if (Math.Abs(ViewBag.page -  i) < 3)
        {
            <li>
                <a href="@Url.Action(c_action,new { page = i , search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }

    }
    @if (ViewBag.page != ViewBag.maxpage)
    {
        <li>
            <a href="@Url.Action(c_action,new { page = ViewBag.page + 1 , search = ViewBag.search,roledusers=ViewBag.roledusers })">←</a>
        </li>
    }


</ul>