@using Blog.Objects;
@model Blog.Areas.Admin.Models.ViewModel.CategoryViewModel

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
    <h4 class="modal-title">زیر دسته جدید</h4>
</div>
@using (Ajax.BeginForm("Add", "/SubCategories", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "dform",
    LoadingElementId = "submit_spin",
    OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
    OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
}, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body" style="padding:20px;">

        @Html.AntiForgeryToken()

        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
        }

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> نام <small>( این فیلد فقط درون پنل ادمین قابل مشاهده است)</small> </label>
                        <input name="Name" id="Name" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"> دسته بندی </label>
                        <select class="form-control" name="CategoryId" id="CategoryId" style="width: 100%;">
                            @foreach (var item in ((List<Category>)ViewBag.categories))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                           
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @for (int i = 0; i < ((List<Language>)ViewBag.language).Count; i++)
            {
                var item = ((List<Language>)ViewBag.language)[i];
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"><img width="20" src='~/Content/Images/@(item.Code + ".svg")' /> @item.Name </label>
                        <input name="Translations[@i].languageId" value="@item.Code" type="hidden" class="form-control" />
                        <input name="Translations[@i].Name" type="text" class="form-control" />
                    </div>
                </div>
            }
        </div>

        <label class="form-label"> توضیحات</label>
        <hr />
        <div class="row">
            @for (int i = 0; i < ((List<Language>)ViewBag.language).Count; i++)
            {
                var item = ((List<Language>)ViewBag.language)[i];
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"><img width="20" src='~/Content/Images/@(item.Code + ".svg")' /> @item.Name </label>
                        <input name="Translations[@i].languageId" value="@item.Code" type="hidden" class="form-control" />
                        <textarea name="Translations[@i].description" type="text" class="form-control" style="height:90px" />
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in" id="submit_btn">
            <span class="spinner" hidden id="submit_spin" style="padding:5px">
                <i class="fa fa-spinner fa-spin"></i>
            </span>&nbsp;  ثبت  &nbsp;
        </button>
    </div>
}

<script>
    initinputcss();

    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);
</script>