@model ICollection<Bid>


@{
    ViewBag.Title = "Bids | R24";

    var c_action = "Bids";
    var c_cntroller = "Auction";
    var c_add = "addAuction";
    var c_edit = "editAuction";
    var c_delet = "deleteAuction";
    var noentity = "No Bids";
    var searchbox = "Email";
    var addbtn = "اثر";
}

<div class="page-title">
    <div class="title"> Bids</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">R24</a>
        </li>
        <li>
            <a href="javascript:;">Bids</a>
        </li>
    </ol>
</div>

<div class="clearfix"></div>

<div class="card bg-white m-b">
    <div class="card-header">
        <form method="get" action="/@c_cntroller/@c_action">
            <div class="input-group pull-right col-md-6">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">جستجو <i class="fa fa-search"></i></button>
                </span>
                <input type="hidden" name="page" value="@ViewBag.page">
                <input type="hidden" name="roledusers" value="@ViewBag.roledusers">
                <input type="search" placeholder="@searchbox" name="search" value="@ViewBag.search" class="form-control bl0">
            </div>
        </form>
    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (Model.Count() != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Email
                        </th>
                        <th>

                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Amount
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th><i class="fa fa-eye"></i></th>
                        <th>@item.User.ApplicationUserDetail.Email</th>
                        @{ var fullName = item.User.FirstName + " " + item.User.LastName;}
                        <th></th>
                        <th>@fullName </th>
                        <th>
                            @item.Timestamp
                        </th>
                        <th>
                            @item.Amount $
                        </th>
                        <th>

                        </th>

                    </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    @noentity
                </div>
            }
        </div>
    </div>
</div>


<ul class="pagination clearfix block">
    @if (ViewBag.page != 1)
    {
        <li>
            <a href="@Url.Action(c_action, new { id =ViewBag.Id,page = ViewBag.page - 1, search = ViewBag.search,roledusers=ViewBag.roledusers  })">→</a>
        </li>
    }

    @for (int i = 1; i <= ViewBag.maxpage; i++)
    {
        if (ViewBag.page == i)
        {
            <li class="active">
                <a class="" href="@Url.Action(c_action,new {id =ViewBag.Id, page = i, search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action(c_action,new {id =ViewBag.Id, page = i , search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }

    }
    @if (ViewBag.page != ViewBag.maxpage)
    {
        <li>
            <a href="@Url.Action(c_action,new {id =ViewBag.Id, page = ViewBag.page + 1 , search = ViewBag.search,roledusers=ViewBag.roledusers })">←</a>
        </li>
    }


</ul>

<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dform">

        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.js")

    <script>
        var loading =
            '<div class="modal-header bg-primary">' +
            '   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>' +
            '   <h4 class="modal-title">...</h4>' +
            '</div>' +
            '<div class="modal-body" style="padding:20px;text-align:center">' +
            '   <p style="text-align:center">در حال بارگذاری</p>' +
            '   <p style="text-align:center"><i class="fa fa-spinner fa-spin"></i></p>' +
            '</div>';

        function showAdd() {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/@c_cntroller/@c_add");
        }
        function showEdit(id) {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/@c_cntroller/@c_edit/" + id);
        }
    </script>
}



