<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
@{var IsRighToLeft = CultureHelper.IsRighToLeft();}
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="all" href="//static.zdassets.com/hc/assets/application-f6e93136ccc616d9d045d876d4064cb2.css" id="stylesheet">
    <link rel="stylesheet" type="text/css" href="//p14.zdassets.com/hc/themes/694809/202335098/style-3a51a4262033e4cbf6b224be82f64821.css?brand_id=147228&locale=en-us">
    <link rel="stylesheet" href="~/Content/jquery.toast.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//p14.zdassets.com/hc/themes/694809/202335098/script-3a51a4262033e4cbf6b224be82f64821.js?brand_id=147228&locale=en-us"></script>
    <script async="" src="//static.hotjar.com/c/hotjar-59940.js?sv=5"></script>
    <script async="" src="https://script.hotjar.com/modules-3cbd664d083dea3465a4170278205ab1.js"></script>
    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="~/Content/Vendor/code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 
    @if (IsRighToLeft)
    {
        <style>
            @@font-face {
                font-family: 'YJ';
                src: url('/Content/font/IRANSans.ttf');
            }

            html, tr, td, ul, span, h1, h2, h3, em, p, a, body, html, button, b, small, table, header, input, select, option, label, li, ol, div {
                font-family: yj,"Helvetica",sans-serif !important;
            }
        </style>
    }

</head>
<body>
    @Html.Action("Header", "Support", null)
    @RenderBody()
    <script type="text/javascript" src="~/Content/jquery.toast.min.js"></script>
    <script type="text/javascript" src="//static.zdassets.com/hc/assets/locales/en-us-48f7f14ecb2221578276f444cc96d449.js"></script>
    <script type="text/javascript" src="https://p14.zdassets.com/assets/zendesk_pci_hc.v4.js"></script>
    <script src="//static.zdassets.com/hc/assets/hc_enduser-af9a943ad6d782cc7f256a3fbb1eb97e.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
