@using DataLayer.Extentions;
@model SupportSubCategory
@{
    ViewBag.Title = Model.Current().Name + " | R24";
    Layout = "~/Views/Support/_SupportLayout.cshtml";
}

@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtlListType = IsRighToLeft ? "list-style-position:inside !important" : "";
}
<main role="main">
    <nav class="sub-nav clearfix category-breadcrumbs">
        <ol style="@rtlstl" class="breadcrumbs">

            <li title="R24">
                <a href="/@CultureHelper.GetCurrentCulture()/support">R24</a>
            </li>

            <li title="@Model.Current().Name">

                <a href="@Url.Action("Category", "Support", new { id = @Model.supportCategory.GenerateSlug() })">@Model.Current().Name </a>

            </li>

            <li title="@Model.Current().Name">

                @Model.Current().Name

            </li>




        </ol>

    </nav>

    <section class="clearfix section-area">
        <h1 style="@rtlstl">
            @Model.Current().Name
        </h1>
        <p class="section-description"></p>
        <div class="section-tree">
            <ul style="@rtlstl;@rtlListType" class="article-list">
                @foreach (var item in Model.Articles)
                {
                    <li>
                        <a href="@Url.Action("Article", "Support", new { id = @item.GenerateSlug() })">@item.Current().Title</a>
                    </li>
                }
            </ul>


        </div>
    </section>
</main>