@using Blog.Extentions
@using Blog.Objects
@using Resources;
@{
    ViewBag.Title = "R24 Blog | Search";
    var widePostCol = "col-lg-8 col-md-12";
    var sqrPostCol = "col-lg-4 col-md-6";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl !important" : "";
    var textAlign = IsRighToLeft ? "text-align:right !important" : "";
    var left = IsRighToLeft ? "left:15px !important;right:unset !important": "";
}
@model IList<Post>
<div class="content-area row">
    <main id="main" class="site-main col-lg-12" role="main">
        <article id="post-42550" class="post-42550 page type-page status-publish hentry">
            <div class="form-container">
                <form role="search" method="get" id="searchform" class="searchform" action="/@CultureHelper.GetCurrentCulture()/search/index">
                    <input type="text" value="" name="keyword" id="keyword" placeholder="@SearchRes.Search" style="max-width:none;@textAlign">
                    <button type="submit" style="@left" id="searchsubmit"><i class="fa fa-search"></i></button>
                </form>
            </div><!-- .form-container -->
            @if (string.IsNullOrEmpty(ViewBag.keyword))
            {
                <div class="popular-posts row home">
                    <div class="col-lg-12">
                        @*  <h2>Popular Posts</h2>*@

                    </div>
                    <div class="popular-posts">

                        @*<div class="col-lg-4 col-md-6">
                                <div class="post-element">
                                    <div class="img-holder">
                                        <a href="https://canvas.saatchiart.com/art/vermeers-love-for-cornflower-blue">
                                            <img width="300" height="300" src="https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-300x300.jpg" class="attachment-saatchi-medium size-saatchi-medium wp-post-image" alt="" srcset="https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-300x300.jpg 300w, https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div><!-- .img-holder -->

                                    <h3><a href="https://canvas.saatchiart.com/category/culture/color-story">Color Story</a></h3>
                                    <h4>
                                        <a href="https://canvas.saatchiart.com/art/vermeers-love-for-cornflower-blue">
                                            Vermeer’s Love for Cornflower Blue
                                        </a>
                                    </h4>
                                    <p></p><p>Dutch painter Johannes Vermeer had a penchant for costly pigments, which came …</p>
                                    <p></p>
                                </div><!-- .post-element -->
                            </div><!-- .col-lg-4 -->*@

                        <div class="append-post-container"></div>
                    </div><!-- .popular-posts -->

                </div>
            }
            else
            {
                if (Model.Count == 0)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 style="@textAlign">@ShareRes.Search_results: <span>@ViewBag.keyword</span> </h2>
                        </div><!-- .col-lg-12 -->
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 style="@textAlign">@ShareRes.Search_results: <span>@ViewBag.keyword</span></h2>
                        </div><!-- .col-lg-12 -->
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                    {
                            <div class="@sqrPostCol">
                                <div class="post-element">
                                    <div class="img-holder">
                                        <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                                            <img width="300" height="300" src="/@item.Thumbnail" class="attachment-saatchi-medium size-saatchi-medium wp-post-image" alt="">
                                        </a>
                                    </div><!-- .img-holder -->

                                    @if (item.SubCategory != null)
                                    {
                                        <h3><a href="@Url.Action(item.Category.Name, "Category",new { id =item.SubCategory.GenerateSlug() })">@item.SubCategory.Current().Name</a></h3>
                                    }
                                    else
                                    {
                                        <h3><a href="@Url.Action(item.Category.Name, new { id = item.Category.GenerateSlug() })">@item.Category.Current().Name</a></h3>
                                    }
                                    <h4>
                                        <a href="@Url.Action(@item.Category.Name, "Post", new { id = @item.GenerateSlug() })">
                                            @item.Current().Title
                                        </a>
                                    </h4>
                                    <p></p><p style="@rtlstl">@item.Current().ShortDescription</p>
                                    <p></p>
                                </div><!-- .post-element -->
                            </div><!-- .col-lg-4 -->
                        }
                    </div>
                }
            }

            <div class="row loader">
                <div class="col-lg-12">
                    @*    <a href="javascript:void(0);" class="load-more-btn" data-total="49">Load more</a>*@
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 sign-up-big">
                    <div class="post-element">
                        <div class="feedback-overlay"></div>
                        <div class="found-overlay">
                            <div>
                                <h2>Good news!</h2>
                                <p>You are already subscribed</p>
                            </div>
                        </div>
                        <div class="success-overlay">
                            <div>
                                <h2>Congratulations!</h2>
                                <p>You successfully signed up</p>
                            </div>
                        </div>

                        <h4>@FooterRes.Email_header1</h4>
                        <p>@FooterRes.Email_header2</p>

                        <div class="content">
                            <div class="feedback">
                                <span></span>
                            </div>
                            @using (Ajax.BeginRouteForm("Default", new {  controller ="Home",action = "AddSubscriber" }, new AjaxOptions { OnSuccess = "parsContent" }, new { @id = "formsend", @class = "sign-up" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" id="saatchi_wpnonce_field" name="saatchi_wpnonce_field" value="bbfe787331"><input type="hidden" name="_wp_http_referer" value="/">                            <input type="hidden" name="source" value="blog-bottom" autocomplete="off">
                                <input type="text" id="honeypot" name="honeypot" placeholder="Leave this field blank" autocomplete="off">
                                <input type="email" name="email" placeholder="Email Address" autocomplete="off">
                                <button type="submit" class="signup-full">@FooterRes.SignUp</button>

                            }
                        </div><!-- .content -->
                    </div><!-- .post-element -->
                </div><!-- .col-lg-12 -->
            </div><!-- .row -->
        </article>
    </main>
</div>
<script>
    function parsContent(result) {
        if (result == "done") {
            $.toast({
                heading: 'Success',
                text: 'subscription successful',
                icon: 'success',
                showHideTransition: 'slide',
                position: 'top-right',
                hideAfter: 7000
            })
        } else {

            $('#ajaxrender').html(result);
        }
    }
</script>