@model  ICollection<CollectionProduct>
@{
    ViewBag.Title = @ViewBag.CollectionName + " | R24";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;float:right !important; text-align:right !important" : "";
    var rtlstlForSize = IsRighToLeft ? "direction:ltr;float:right !important; text-align:right !important; margin-top:7px" : "margin-top:7px";
    var rtldirection = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "";
    var rtlPosition = IsRighToLeft ? "margin-right:40px !important" : "";
    var pricertl = IsRighToLeft ? "left:0;right:auto;text-align:left;" : "";
}
@using DataLayer.Extentions
<div class="row-layout content">

    <header>
        <nav class="row ">
            <div class="small-12 medium-6 columns">
                <ul class="breadcrumbs ">
                    <li><a class="so-quick-tip" href="/@CultureHelper.GetCurrentCulture()/profile" aria-describedby="ui-tooltip-0">@ProfileRes.Profile</a></li>
                    <li><a class="so-quick-tip" href="/@CultureHelper.GetCurrentCulture()/profile/collection" oldtitle="My collections">@ProfileRes.My_collections</a></li>
                    <li>@ViewBag.CollectionName</li>
                </ul>

            </div>
            <div class="small-12 medium-6 columns hide-for-medium-down">
                <ul class="breadcrumbs pull-right text-right">
                    <li><a href="/@CultureHelper.GetCurrentCulture()/profile/editcollection?id=@ViewBag.CollectionId" class="so-quick-tip" oldtitle="Edit Collection Details">@ShareRes.Edit</a></li>
                    <li>@*<a href="/collections/reorder/owner/994144/collection/192521" class="so-quick-tip" oldtitle="Reorder Images in Collection">Reorder</a>*@</li>
                    <li>@*<a class="so-quick-tip" href="/collections/duplicate/994144/192521" oldtitle="Create your own collection from this one">Duplicate</a>*@</li>
                    <li>@*<a class="so-quick-tip" href="#so-comment-message" oldtitle="Comment on this collection">Comment</a>*@</li>
                    <li><a class="so-quick-tip" href="/@CultureHelper.GetCurrentCulture()/profile/newCollection" oldtitle="Create a new collection">@ProfileRes.Create_collection</a></li>

                    <li><a onclick="return confirm('@ProfileRes.DeleteCollection_msg')" href="/@CultureHelper.GetCurrentCulture()/profile/DeleteCollection?id=@ViewBag.CollectionId" class="delete so-quick-tip" oldtitle="Delete Collection">@ShareRes.Remove</a></li>
                </ul>
            </div>
        </nav>
        <div class="row ">
            <div class="small-12 columns ">
                <h1 >@ViewBag.CollectionName</h1>
            </div>
        </div>
        @*<div class="row ">
            <div class="small-12 medium-8 columns ">
                <a href="/profile">


                    @if (!String.IsNullOrEmpty(ViewBag.PhotoPath))
            {
                        <img src="/@ViewBag.PhotoPath" alt="@ViewBag.ProfileFullName" class="avatar" itemprop="image">
                    }
                    else
                    {
                        <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="@ViewBag.ProfileFullName" class="avatar" itemprop="image">
                    }
                </a>
                <span class="collection-info">
                    @Model.Count Artworks curated by
                    <a href="/profile">@ViewBag.ProfileFullName</a>

                </span>
            </div>
            <div class="small-12 medium-4 columns view-options">

            </div>
        </div>*@
    </header>

    <div class="row">
        <div class="small-12 columns">

            <ul class="item-list masonry " style="position: relative; height: 453.688px;">
                @foreach (CollectionProduct item in Model)
            {
                    <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                        <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                            <div class="list-art-image-wrapper">
                                <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" itemprop="url">
                                    <img src="@item.product.photo.Path">
                                </a>

                            </div>
                            <div class="item-controls">
                                @if (item.product.ISOrginalForSale && item.product.Status == ProductStatus.forSale)
                                {
                                    <a href="/@CultureHelper.GetCurrentCulture()/Card/AddToCart?id=@item.product.Id&type=@((int)Ordertype.Orginal)" class="btn-round btn-add-to-cart" style="background-color:rgba(0,0,0,0.6)" title="Add to Cart">
                                        <i class="fa fa-shopping-cart" style="color:white"></i>
                                    </a>
                                }
                                @if (item.collection.user.Favorits != null)
                                {
                                    if (item.collection.user.Favorits.Any(a => a.product.Id == item.product.Id))
                                    {
                                        <a onclick="addfav(this,@item.productId)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite is-favorite" title="Remove from Favorites">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="addfav(this,@item.productId)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="Add to Favorites">
                                            <i class="fa fa-heart" style="color:white"></i>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a onclick="addfav(this,@item.productId)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite" title="Add to Favorites">
                                        <i class="fa fa-heart" style="color:white"></i>
                                    </a>
                                }                    
                            </div>
                            <div class="list-art-meta" style="height:auto; @rtlstl">
                                <h4 class="list-art-title left ellipsis" itemprop="name" style="@rtlstl">
                                    <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })">@item.product.Title</a>
                                </h4>
                                <small style="@rtlstl" class="art-category clear left">@item.product.category.Current().Name</small>
                                <small style="@rtlstlForSize" class="art-category clear left"><span>@item.product.Height  H</span> x <span> @item.product.Width  W</span> x <span> @item.product.Depth </span> cm</small>

                                <div class="list-author clear left" style="@rtlstl">
                                    <h5 class="Agency-name left ellipsis" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                        <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" class="Agency-card" title="Profile page for @item.product.user.FirstName" itemprop="url">@item.product.user.FirstName  @item.product.user.LastName</a>
                                    </h5>
                                    <h5 class="user-location ellipsis clear" itemprop="contentLocation">
                                        @if (item.product.user.country != null)
                                        {
                                            <span>@item.product.user.country.Translations.SingleOrDefault(x => x.languageId == System.Globalization.CultureInfo.CurrentCulture.Name.Substring(0, 2)).Name</span>
                                        }
                                    </h5>
                                </div>

                                <div class="list-art-price" style="@pricertl">
                                    @if (item.product.ISOrginalForSale)
                                    {
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <!-- internationalization testing -->
                                            <div itemprop="price">
                                                $@item.product.Price
                                            </div>
                                        </div>
                                    }
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <!-- internationalization testing -->
                                        <div class="sample-print-price" itemprop="price">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">

        </div>
    </div>

    @{
        int page = ViewBag.page;
        int count = ViewBag.count;
        int pageSize = ViewBag.pageSize;
        bool haveNext = page * pageSize < count;
        bool havePrev = page != 1;
        int minpage = 1;
        int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
    }

    <div class="so-pagination">
        <div class="pagination">
            <ul class="pull-right">
                @if (havePrev)
                {
                    <li><a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@(page-1)'" href="/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                }

                @for (int i = Math.Max(1, page - 2); i < page; i++)
                {
                    <li>
                        <a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@i'" href="/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@i">@i</a>
                    </li>
                }

                <li class="active">
                    <a>@page</a>
                </li>

                @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                {
                    <li>
                        <a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@i'" href="/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@i">@i</a>
                    </li>
                }


                @if (haveNext)
                {
                    <li><a onclick="document.location.href = '/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@(page+1)'" href="/@CultureHelper.GetCurrentCulture()/collectionview?id=@ViewBag.collectionId&page=@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                }

                @*
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
            </ul>
            <div class="so-pagination-count pull-right">
                <small>@ShareRes.Showing @((((page - 1) * pageSize) + 1) * (count == 0 ? 0 : 1)) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) @ShareRes.of @count  </small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="~/Content/fullview.js"></script>
<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>


