@model NewCollectionViewModel

@{
    ViewBag.Title = "New Collection | R24";
}

@{var IsRighToLeft = CultureHelper.IsRighToLeft();}

@if (IsRighToLeft)
{
    <style>
        body.collections.create .collection-edit .control-group {
            float: right;
        }

        body.collections.create .form-horizontal .control-label {
            float: right;
            text-align: right;
        }

        .controls {
            float: right;
            text-align:right;
        }
        .ctextright {
        text-align:right;
        }
        .breadcrumbs {
        float:right;
        }
    </style>
}


<div class="row-layout content">
    <header>
        <nav class="row">
            <div class="small-12 medium-12 columns">
                <ul class="breadcrumbs">
                    @if (IsRighToLeft)
                    {
                        <li><a class="so-quick-tip" href="/@CultureHelper.GetCurrentCulture()/profile/collection" >@ProfileRes.My_collections</a></li>                        
                      
                    }
                    else
                    {
                        <li><a class="so-quick-tip" href="/@CultureHelper.GetCurrentCulture()/profile/collection" oldtitle="Browse collections" aria-describedby="ui-tooltip-0">@ProfileRes.Collections</a></li>
                        
                    }
                  
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="small-12 columns">
                <h1 class="ctextright">@ProfileRes.Create_collection</h1>
            </div>
        </div>
    </header>
    <div class="row">

        <div class="small-12 columns collection-edit bgtext">
            @using (Html.BeginForm("NewCollection", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="collection" value="" id="collection">

                <input type="hidden" name="owner" value="994144" id="owner">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="control-group">
                    @Html.LabelFor(m => m.CollectionTitle, new { @class = "control-label required" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.CollectionTitle, new { @class = "input-xlarge" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.CollectionDescription, new { @class = "control-label optional" })
                    <div class="controls">
                        @Html.TextAreaFor(m => m.CollectionDescription, new { @class = "input-xlarge", cols = "80", rows = "4" })
                    </div>
                </div>

                <div class="control-group">
                    <label for="collection_type_id" class="control-label required">@ProfileRes.Type</label>
                    <br />
                    <div style="clear:both"></div>
                    @if (IsRighToLeft)
                    {
                        <div class="controls">
                            <div style="clear:both"></div>
                            @ProfileRes.Community <input type="radio" value="Community" name="CollectionType" checked="checked" onclick="TypeEvent(1)" style="display:inline-block;" />
                            <br />
                            <div style="clear:both"></div>
                            @ProfileRes.Portfolio <input type="radio" value="Portfolio" name="CollectionType" onclick="TypeEvent(2)" style="display:inline-block;" />
                        </div>
                    }
                    else
                    {
                        <div class="controls">
                            <input type="radio" value="Community" name="CollectionType" checked="checked" onclick="TypeEvent(1)" style="display:inline-block;" /> @ProfileRes.Community
                            <br />
                            <input type="radio" value="Portfolio" name="CollectionType" onclick="TypeEvent(2)" style="display:inline-block;" /> @ProfileRes.Portfolio
                        </div>
                    }
                </div>

                <div class="control-group">
                    <div class="controls">
                        @if (IsRighToLeft)
                        {
                            @Html.DisplayNameFor(m => m.IsPrivate) <text>&nbsp;</text>
                            @Html.CheckBoxFor(m => m.IsPrivate, new { @style = "display:inline-block" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.IsPrivate, new { @style = "display:inline-block" })
                            @Html.DisplayNameFor(m => m.IsPrivate)
                        }

                    </div>

                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="create" value="@ProfileRes.Submit" class="button btn-info">
                    </div>
                </div>

            }

            <script>
                $('#so-collection-create-add-cancel').on('click', function (e) {
                    $("#so-doc").qtip('hide');
                    return false;
                });
            </script>

            <!-- Extra form fields for AA Selection -->

            <script>
                (function () {

                    var $form = $("#so-collection-create-form, #so-collection-edit-form");
                    var $template = $("#aaselection-template");
                    var $checkbox = $("#collection_type_id-17");
                    var checked = $checkbox.prop('checked');
                    // Form control group which contains the 'create collection' button
                    var $lastControlGroup = $form.find('.control-group').last();
                    renderAASelectionFields();

                    $checkbox.change(function () {
                        checked = $checkbox.prop('checked');
                        renderAASelectionFields();
                    });

                    function renderAASelectionFields() {
                        if (!checked) {
                            // If AA Selection is not checked, remove the extra form fields
                            // from the DOM. Note: This means the extra form fields wont be
                            // passed along to the request.
                            $template.detach();
                        } else {
                            // Otherwise, add the extra fields to the DOM right before the
                            // submit button's control group
                            $lastControlGroup.before($template);
                        }
                    }
                }());

            </script>

            <script>

                function TypeEvent(id) {

                    if (id == "1") {

                        $("CollectionType").val = "Community";
                    }
                    else {
                        $("CollectionType").val = "Portfolio";
                    }
                }

            </script>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
</div>