
@{
    ViewBag.Title = "Index";
}


@model IEnumerable<Order>


@{
    ViewBag.Title = "index";

    var c_action = "index";
    var c_cntroller = "orders";
    var noentity = "هیچ سفارشی وجود ندارد";
}

<div class="page-title">
    <div class="title"> سفارشات</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">سفارشات </a>
        </li>
    </ol>
</div>

<div class="clearfix"></div>

<div class="card bg-white m-b">
    <div class="card-header">
        سفارشات
    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (Model.Count() != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            name
                        </th>
                        <th>
                            PhoneNumber
                        </th>
                        <th>
                            price
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Payed
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><i class="fa fa-eye"></i></th>
                            <th>
                                @item.user.ApplicationUserDetail.UserName
                            </th>
                            <th>
                                @item.PhoneNumber
                            </th>
                            <th>
                                $@item.TotalPrice.ToString("#,##") 
                            </th>
                            <th>
                                @item.Status.ToOrderStatus()
                            </th>
                            <th>
                                @if (item.TransactionDetail != null && item.TransactionDetail.Payed)
                                {
                                    <span style="color:green">پرداخت موفق</span>
                                }
                                else
                                {
                                    <span style="color:red">پرداخت ناموفق</span>
                                }
                            </th>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/@c_cntroller/detail/@item.Id">نمایش</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    @noentity
                </div>
            }
        </div>
    </div>
</div>


<ul class="pagination clearfix block">
    @if (ViewBag.page != 1)
    {
        <li>
            <a href="@Url.Action(c_action, new { page = ViewBag.page - 1, search = ViewBag.search,roledusers=ViewBag.roledusers  })">→</a>
        </li>
    }

    @for (int i = 1; i <= ViewBag.maxpage; i++)
    {
        if (ViewBag.page == i)
        {
            <li class="active">
                <a class="" href="@Url.Action(c_action,new { page = i, search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action(c_action,new { page = i , search = ViewBag.search,roledusers=ViewBag.roledusers })">@i</a>
            </li>
        }

    }
    @if (ViewBag.page != ViewBag.maxpage)
    {
        <li>
            <a href="@Url.Action(c_action,new { page = ViewBag.page + 1 , search = ViewBag.search,roledusers=ViewBag.roledusers })">←</a>
        </li>
    }


</ul>

<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dform">

        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.js")

}
