
@{
    ViewBag.Title = "Upload Goverment ID | R24";
}
@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();

    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
    var floatStyle = IsRighToLeft ? "float:right !important" : "";
    var widthStyle = IsRighToLeft ? "width:69.4% !important" : "";
    var textAlignStyle = !IsRighToLeft ? "text-align:left !important" : "";

}
<div class="row-layout content">
    <div class="guide-block" style="@rtldirection">
        <h1>@ProfileRes.GovermentID_title</h1>
        <fieldset id="so-seller-identification">
            <legend>Seller Verification</legend>
            <p>
                @ProfileRes.GovermentID_p1
            </p>

            <p>
                @ProfileRes.GovermentID_p2 <a href="/@CultureHelper.GetCurrentCulture()/pages/privacypolicy"> @ProfileRes.GovermentID_privacyPolicy </a> @ProfileRes.GovermentID_p3_continue
            </p>
            

            <form id="upload-id" enctype="multipart/form-data" action="/@CultureHelper.GetCurrentCulture()/accountinfo/uploadid" method="post">
                <dl class="zend_form">
                    @*<dt id="id-label"><label for="id" class="required">File size must be less than 2MB.</label></dt>*@
                    <dd style="@floatStyle" id="id-element">
                        <input type="hidden" name="MAX_FILE_SIZE" value="16777216" id="MAX_FILE_SIZE">
                        <input  type="file" id="Image" name="Image">
                    </dd>
                    <input type="hidden" name="url" value="" id="url">
                    <dt style="width:auto;@floatStyle" id="photo_id_name-label"><label style="@textAlignStyle" for="photo_id_name" class="optional">@ProfileRes.GovermentID_p3</label></dt>
                    <dd style="@floatStyle" id="photo_id_name-element">
                        <input type="text" name="legalname" id="legalname" value="" placeholder="@ProfileRes.Name">
                    </dd>


                </dl>
                <input type="submit" id="submit" value="@ProfileRes.Submit" class="btn btn-inverse" disabled>
            </form>
        </fieldset>
    </div>        <div class="clearfix"></div>
</div>

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#preview').attr('class', '');
                //$('#preview').attr('src', e.target.result);
                $('#submit').removeAttr('disabled');
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Image").change(function () {
        readURL(this);
    });</script>