
@{
    ViewBag.Title = "Contact us | R24";
}

<style>
    li {
        list-style-type: unset !important;
        list-style-position: inside !important;
    }

    ul {
        list-style-type: unset !important;
        list-style-position: inside !important;
    }
</style>

@model SitePageTranslation

<div class="row-layout content">
    <div class="row">
        <div class="small-12 large-4 large-push-8 columns bgtext side-nav-container" style="direction:rtl">
            <ul class="side-nav" >
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/about">@ShareRes.About</a></li>
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/terms" >@ShareRes.Terms</a></li>
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/privacypolicy">@ShareRes.Privacy_policy</a></li>
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/copyrightpolicy">@ShareRes.Copyright_policy</a></li>
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/contactus" class="active">@ShareRes.Contactus</a></li>
                <li style="list-style-type:none !important"><a href="/@CultureHelper.GetCurrentCulture()/pages/logo">@ShareRes.Logo</a></li>
            </ul>
        </div>

        <div class="small-12 large-8 large-pull-4 columns bgtext content" style="direction:rtl">
            <div id="so-terms-page" class="row">
                @*<h1 class="page-title">R24 Copyright Policy</h1>*@
                @Html.Raw(Model.Content)
            </div>
        </div>

        <script>if ($(window).width() > 1023) { $('.bgtext.content').imagesLoaded(function () { var sidebarHeight = $('.bgtext.content').height(); $('.side-nav').height(sidebarHeight); }); }</script>
    </div>
    <div class="clearfix"></div>
</div>