@{
    ViewBag.Title = "Index";
    IEnumerable<sliderImage> slider = ViewBag.slider;
    IEnumerable<NavigationCategory> nav = ViewBag.nav;
}


<link rel="stylesheet" href="~/Content/Admin/styles/fakeFileInputs.css">

@Styles.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.css")

@Styles.Render("~/Content/Admin/vendor/chosen_v1.4.0/chosen.css")


<div class="page-title">
    <div class="title"> پارامتر های صفحه اصلی</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">پارامتر های صفحه اصلی</a>
        </li>
    </ol>
</div>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="/FirstPageSettings/index"> هدر</a>
    </li>
    <li>
        <a href="/FirstPageSettings/parameters">محتوا </a>
    </li>
    <li>
        <a href="/FirstPageSettings/footers"> فوتر</a>
    </li>
</ul>

<div class="clearfix"></div>

<div class="card bg-white m-b">
    <div class="card-header"> Defaults  </div>
    <div class="card-block p-a-0">
        @if (!string.IsNullOrEmpty(ViewBag.alert))
        {
            <div class="alert alert-info">
                @ViewBag.alert
            </div>
        }
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
        }

        @using (Html.BeginForm("index", "FirstPageSettings", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <button type="submit" class="btn btn-success col-sm-2"><i class="fa fa-upload"></i></button>
                <div class="col-sm-10">
                    <div class="uploader blue">
                        <input type="button" name="file" class="button" value="انتخاب.." />
                        <input type="text" class="filename" readonly="readonly" />
                        <input type="file" id="Image" name="Image" />
                    </div>
                </div>
            </div>
        }

        <table class="table m-b-0">
            <tr>
                <td>  تصویر اسلایدر</td>
                <td>  توضیحات </td>
                <td>  حذف </td>
            </tr>
            <tr>
                @foreach (var item in slider)
                {
                    <th>
                        <img style="height:50px;" src="@item.path" />
                    </th>
                    <th>
                      
                    </th>
                    <td>

                    </td>
                }
               
            </tr>
        </table>

    </div>
</div>

<div class="card bg-white m-b">
    <div class="card-header">
        <form action="/FirstPageSettings/AddCategoryToHeader" method="post">
            <p style="padding-top: 8px !important;margin-bottom: 0; float:right"> Header Fav Category</p>
            <button type="submit" class="pull-left btn btn-default">ثبت دسته جدید</button>
            <select id="catselect" name="id" class="pull-left form-control"></select>
        </form>
    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (nav != null && nav.Count() != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in nav)
                    {
                        <tr>
                            <th><i class="fa fa-book"></i></th>
                            <td>
                                @if (item.category.Translations.Count == 0)
                                {
                                    <span>No Name</span>
                                }
                                @foreach (var trans in item.category.Translations)
                                {
                                    <img width="20" src='~/Content/Images/@(trans.language.Code + ".svg")' />  @trans.Name
                                }
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="showEditCatHead(@item.Id)">ویرایش</button>
                                <button class="btn btn-danger btn-sm" onclick="$('#c_@item.Id').show('fast');$(this).hide('fast');">حذف</button>
                                <a id="c_@item.Id" class="btn btn-danger btn-sm" style="display:none" href="/FirstPageSettings/DeleteCatHeader/@item.Id">آیا مطمئن هستید؟</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    هیچ دسته بندی ای در Header ثبت نشده
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="dform">

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.js")
    @Scripts.Render("~/Content/Admin/vendor/chosen_v1.4.0/chosen.jquery.min.js")

    <script>
        $('#catselect').prop('true', false);
        $.get("/Value/GetCategories", function (data) {
            $('#catselect').prop('disabled', false);
            $.each(data, function (key, value) {
                $("#catselect").append($("<option></option>").val(value.id).html(value.name));
            });
        });
    </script>

    <script>
        var loading =
                '<div class="modal-header bg-primary">' +
                '   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>' +
                '   <h4 class="modal-title">...</h4>' +
                '</div>' +
                '<div class="modal-body" style="padding:20px;text-align:center">' +
                '   <p style="text-align:center">در حال بارگذاری</p>' +
                '   <p style="text-align:center"><i class="fa fa-spinner fa-spin"></i></p>' +
                '</div>';
        function showEditCatHead(id) {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/FirstPageSettings/EditCatHeader/" + id);
        }
        '</div>';
        function showEditparam(id) {
            $('#modal-basic').modal('show');
            $("#dform").html(loading);
            $("#dform").load("/FirstPageSettings/editParams/" + id);
        }
    </script>

    <script>
        function initinputcss() {
            $(document).ready(function () {
                $("input[type=file]").change(function () { $(this).parents(".uploader").find(".filename").val($(this).val()); });
                $("input[type=file]").each(function () {
                    if ($(this).val() == "") { $(this).parents(".uploader").find(".filename").val("فایلی انتخاب نشده"); }
                });
            });
        }
        initinputcss();
    </script>

}
