@model CountryViewModel


<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
    <h4 class="modal-title">Edit Style</h4>
</div>
@using (Ajax.BeginForm("edit", "Countries", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "dform",
    LoadingElementId = "submit_spin",
    OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
    OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');"
}, new { enctype = "multipart/form-data" }))
{
    <div class="modal-body" style="padding:20px;">

        @Html.AntiForgeryToken()

        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
        }

        @Html.HiddenFor(x => x.Id)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">code </label>
                    <input name="code" value="@(Model==null ? "" : Model.code)" class="form-control" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Region </label>
                    <select name="region" class="form-control">
                        <option value="1" @(Model.region == CountryRegion.A ? "selected" : "")>Region A</option>
                        <option value="2" @(Model.region == CountryRegion.B ? "selected" : "")>Region B</option>
                        <option value="3" @(Model.region == CountryRegion.C ? "selected" : "")>Region C</option>
                        <option value="4" @(Model.region == CountryRegion.D ? "selected" : "")>Region D</option>
                        <option value="5" @(Model.region == CountryRegion.E ? "selected" : "")>Region E</option>
                        <option value="6" @(Model.region == CountryRegion.F ? "selected" : "")>Region F</option>
                        <option value="7" @(Model.region == CountryRegion.G ? "selected" : "")>Region G</option>
                        <option value="8" @(Model.region == CountryRegion.H ? "selected" : "")>Region H</option>
                    </select>
                </div>
            </div>
            @for (int i = 0; i < ((List<Language>)ViewBag.language).Count; i++)
            {
                var item = ((List<Language>)ViewBag.language)[i];
                var current = Model.Translations.SingleOrDefault(x => x.languageId == item.Code);
                var value = current == null ? "" : current.Name;

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label"><img width="20" src='~/Content/Images/@(item.Code + ".svg")' /> @item.Name </label>
                        <input name="Translations[@i].languageId" value="@item.Code" type="hidden" class="form-control" />
                        <input name="Translations[@i].Name" value="@value" type="text" class="form-control" />
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in" id="submit_btn">
            <span class="spinner" hidden id="submit_spin" style="padding:5px">
                <i class="fa fa-spinner fa-spin"></i>
            </span>&nbsp;  ثبت  &nbsp;
        </button>
    </div>
}

