
@{
    ViewBag.Title = "Add | Posts";
}

@using Blog.Objects

@using Blog.Areas.Admin.Models.ViewModel
@model PostViewModel

<link rel="stylesheet" href="~/Content/Admin/styles/fakeFileInputs.css">

<div class="page-title">
    <div class="title"> R24</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">مطلب جدید </a>
        </li>
    </ol>
</div>


<div class="clearfix"></div>

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p class="alert alert-success"> @DateTime.Now @ViewBag.message </p>
}
<div class="row">
    <div class="col-lg-12 portlets">
        @using (Html.BeginForm("add", "posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger" })
            }

            <div class="panel">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label"> زبان </label>
                            <div class="col-sm-5">
                                <select id="catselect" name="languageId" class="form-control">
                                    @foreach (var item in ((List<Language>)ViewBag.language))
                                    {
                                        if (item.Code == Model.languageId)
                                        {
                                            <option selected="selected" value="@item.Code">@item.Code</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Code">@item.Code</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <input type="submit" value="ثبت" class="btn btn-default pull-left" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:2px">
                        <div class="col-md-4">
                            <label style="padding:5px;width:100%" class="col-sm-2 control-label"> دسته بندی * </label>
                        </div>
                        <div class="col-md-4">
                            <label style="padding:5px;width:100%" class="col-sm-2 control-label"> زیر دسته بندی * </label>
                        </div>
                        <div class="col-md-4">
                            <label style="padding:5px;width:100%" class="col-sm-2 control-label"> نوع مطلب (ShowCase پست بالای صفحه ) </label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:2px">
                        <div class="form-group">
                            
                            <div class="col-sm-4">
                                <select class="form-control" name="Category" id="Category" style="width: 100%;">
                                    @foreach (var item in ((List<Category>)ViewBag.caregories))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" name="SubCategory" id="SubCategory" style="width: 100%;">
                                    <option value=""> </option>
                                </select>
                            </div>
                            
                            
                            <div class="col-sm-4">
                                <select class="form-control" name="postType" style="width: 100%;">
                                    @*<option value="Wide">Wide</option>*@
                                    <option value="Sqr">Sqr</option>
                                    <option value="ShowCase">ShowCase</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" style="margin-top:2px">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label"> tags * </label>
                            <div class="col-sm-10">
                                <select data-placeholder="Choose your tags" multiple class="chosen" name="Tags" style="width: 100%;">
                                    @foreach (var item in ((List<Tag>)ViewBag.tags))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:2px">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label">
                                Related Artworks *
                                <script> var temp = '<input type="text" name="Links[]" value="" class="form-control" />';</script>
                                <button type="button" class="btn btn-xs" onclick="$('#links').append(temp);">
                                    <i class="fa fa-plus text-success"></i>
                                </button>
                            </label>
                            <div class="col-sm-10" id="links">
                                <input type="text" name="Links[]" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label"><span>موضوع  </span>(در URL مطلب نمایش داده می شود)  * </label>
                            <div class="col-sm-10">
                                <input type="text" name="TitleDef" value="@Model.TitleDef" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label"><span>موضوع  </span>(وابسته به زبان)  </label>
                            <div class="col-sm-10">
                                <input type="text" name="Title" value="@Model.Title" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label"> خلاصه </label>
                            <div class="col-sm-10">
                                <input type="text" name="ShortDescription" value="@Model.ShortDescription" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px">
                        <div class="form-group">
                            <textarea name="Description" id="Content">@Model.Description</textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="padding:5px" class="col-sm-2 control-label">
                                تصویر مطلب *
                            </label>
                            <div class="col-sm-10">
                                <div class="uploader blue">
                                    <input type="button" name="file" class="button" value="انتخاب.." />
                                    <input type="text" class="filename" readonly="readonly" />
                                    <input type="file" id="Image" name="Thumbnail" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <p>طول تصاویر می بایست از عرض آنها بیشتر باشد</p>
                            <label style="padding:5px" class="col-sm-2 control-label">
                                تصاویر *
                                <script> var c = 0; var e = ']" /> </div>'; var temp2 = '<div class="uploader blue"><input type="button" name="file" class="button" value="انتخاب.." /><input type="text" class="filename" readonly="readonly" /> <input type="file" id="Image" name="HeaderPhotos[';</script>
                                <button type="button" class="btn btn-xs" onclick="c++; $('#photosdiv').append(temp2+c+e); initinputcss();">
                                    <i class="fa fa-plus text-success"></i>
                                </button>
                            </label>
                            <div class="col-sm-10" id="photosdiv">
                                <div class="uploader blue">
                                    <input type="button" name="file" class="button" value="انتخاب.." />
                                    <input type="text" class="filename" readonly="readonly" />
                                    <input type="file" id="Image" name="HeaderPhotos[0]" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script src="~/Content/admin/vendor/chosen_v1.4.0/chosen.jquery.min.js"></script>


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Content/admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/admin/ckeditor/config.js"></script>

    <script type="text/javascript">
        CKEDITOR.replace('Content', {
            customConfig: '/Content/Admin/ckeditor/config.js',
            height: 500,
            uploadUrl: '/admin/posts/uploadnow',
            filebrowserImageBrowseUrl: '/admin/posts/uploadPartial',
            filebrowserImageUploadUrl: '/admin/posts/uploadnow',
            filebrowserUploadUrl: '/admin/posts/uploadnow',
            filebrowserWindowWidth: '640',
            filebrowserWindowHeight: '480'
        });



    </script>

<script>
        $(document).on('change', '#Category', function () {
            changepro();
        });

        $('.chosen').chosen({
            width: '100%'
        });
</script>


    <script type="text/javascript">
        function initinputcss() {
            $(document).ready(function () {
                $("input[type=file]").change(function () { $(this).parents(".uploader").find(".filename").val($(this).val()); });
                $("input[type=file]").each(function () {
                    if ($(this).val() == "") { $(this).parents(".uploader").find(".filename").val("فایلی انتخاب نشده"); }
                });
            });
        }
        initinputcss();
    </script>

<script>
        function changepro() {
            $('#SubCategory option').remove();
            $('#SubCategory').prop('disabled', true);
            var iid = $("#Category").val();
            $.get("/admin/Posts/LoadSubCategories?id=" + iid, function (data) {
                $('#SubCategory').prop('disabled', false);
                $.each(data, function (key, value) {
                    $("#SubCategory").append($("<option></option>").val(value.Id).html(value.Name));
                });
            });
        }
        changepro();
</script>
}