<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @{ 
        var pubDesc = "R24 is the best place to buy artwork online. Find the perfect original paintings, fine art photographs and more from the largest selection of original art in the world.";
        var desc = ViewBag.metaDescription ?? pubDesc;
    }
    <meta name="description" content="@desc" />
    <meta name="keywords" content="affordable art, art dealers, art for sale, art original,art websites, buy art, buy art online, buy original art, buy paintings,buy paintings online, canvas wall art, contemporary abstract art,contemporary art, contemporary arts, contemporary oil paintings, fine art,fine art photography, fine art photography for sale, framed art,home decor wall art, modern art, modern art paintings, office interior design,online art, online art gallery, original art, original art for sale, original painting,collage, drawings, pencil drawings, printmaking for sale, london Agencys, la Agencys, nyc Agencys, australia Agencys, uk Agencys, german Agencys,interior design help, nude photography, nude art, abstract art" />
    <meta name="google-site-verification" content="LTJU8q0EBceMg3n-biXSSIG3rKqEaJ1YQatmEplI5f4" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://cuber.dev/Content/Images/logo.png" />
    @*<link rel="stylesheet" href="~/Content/Vendor/maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />*@
    @*<link href="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/Content/main-1497066374081.css" />*@
    
    <link rel="stylesheet" href="~/Content/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/Content/js/upload/css/jquery.fileupload-ui.css" />
    <link rel="stylesheet" href="~/Content/js/upload/css/jquery.fileupload.css" />
    @Styles.Render("~/Content/scss")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    
    <link rel="stylesheet" href="~/Content/Bootstrap-carousel.css" />
    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Content/Vendor/ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="~/Content/Vendor/code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/Vendor/cdn.optimizely.com/js/2220741194.js"></script>
    <script type="text/javascript" src="~/Content/js/dist/core-1497066375653.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap-carousel.js"></script>

    

    @{var IsRighToLeft = CultureHelper.IsRighToLeft();}

    @Scripts.Render("~/bundles/modernizr")

    <style>
        .footer-container {
        }

        #footer {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0;
            background-color: #3e3e3e;
        }
    </style>
    <!-- MailerLite Universal -->
    <script>
        (function (m, a, i, l, e, r) {
            m['MailerLiteObject'] = e; function f() {
                var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
            }
            f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
            var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
            _.parentNode.insertBefore(r, _);
        })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '895607', 'i0r0l4r5t2', 'load');
    </script>
    <!-- End MailerLite Universal -->

    @if (IsRighToLeft)
    {
        <style>
            @@font-face {
                font-family: 'YJ';
                src: url('/Content/font/IRANSans.ttf');
            }

            html, tr, td, ul, span, h1, h2, h3,h4, em, p, a, body, html,strong, button, b, small, table, header, input, select, option, label, li, ol, div {
                font-family: yj,"Helvetica",sans-serif  !important;
                
            }
            h1, h2, h3, h4, h5, h6 {
                font-size:84% ;
            }
        </style>
    }
</head>

@{
    var a = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    var c = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToLower();
    if (c == "profile" || c == "publicprofile")
    {
        if (c.Contains("public"))
        {
            c = "profile";
        }
        if (a == null || c == "favorites" || a == "index")
        {
            c = "profile";
        }
        else if (a == "newcollection")
        {
            c = "collections create";
        }
        else if (a == "collectionview")
        {
            c = "art-collection";
        }
        else if (a == "editcollection")
        {
            c = "collections create";
        }

    }
    else if (c == "accountinfo")
    {
        c = "accounts settings";

        if (a == "uploadavatar")
        {
            c = "upload start";
        }
    }
    else if (c == "upload")
    {

        c = "upload start";
    }
    else if (c == "pages")
    {
        c = "about";
    }
    else if (c == "products")
    {

        if (a == "requestvisit")
        {
            c = "make-an-offer";
        }

    }
    else
    {
        c = "index";
    }


}
<body class="saatchi @c bgcolor signed-out">
    <script>
        if (navigator.userAgent.match(/AppleWebKit/) && !navigator.userAgent.match(/Chrome/)) {
            document.body.className += ' safari';
        }
        else if (navigator.userAgent.indexOf('MSIE') !== -1 || !!navigator.userAgent.match(/Trident\/7\./)) {
            document.body.className += ' ie';
        }
        function isSafari5() {
            return !!navigator.userAgent.match('Safari/index.html') && !navigator.userAgent.match('Chrome') && !!navigator.userAgent.match(' Version/5.');
        };
        if (isSafari5() === true) {
            $('#unsupportedSafari').show();
        }
    </script>

    @Html.Action("Header", "Home", null)

    @RenderBody()

    <div id="myModal" class="modal" style="display:none">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="mainmodal" style="margin-top:25px">

            </div>
        </div>
    </div>

    @Html.Partial("_Footer")

    <script>var Modernizr = false;</script>
    <script src="~/Content/js/dist/foundation/foundation5-5.min4baf.js?version=1468284677"></script>
    <div id="fb-root"></div>
    <script type="text/javascript">
        Saatchi.NewDesktopNavigation.init();
        Saatchi.NewMobileNavigation.init();
    </script>

    <div id="unsupportedSafari">
        <div class="faux-modal">
            <h2>Safari 5.x and below is not supported on R24.</h2>
            <p>
                Please see <a href="http://support.apple.com/kb/HT202908" title="Install Safari 6">"How to install Safari 6"</a>
                (minimum requirements, Mac OS X Lion v10.7.5). You may also try <a href="http://www.google.com/chrome" title="Download Chrome">Chrome</a>
                or <a href="http://www.mozilla.org/" title="Download Firefox">Firefox</a>.
            </p>
        </div>
    </div>
    <script>
        $heroSlides = $('.orbit-item');
        $heroSlides.click(function () {
            var $this = $(this);
            var href = $this.find('a').attr('href');
            if ($this.data('is-promo')) {
                window.open(href);
            } else {
                window.location = href;
            }
            return false;
        });

    </script>
    <script>
        $(".dropdown").click(function () {
            if ($('.dropdown-content').hasClass('show'))
                $('.dropdown-content').removeClass('show');
            else
                $('.dropdown-content').addClass('show');
        });

        window.onclick = function (event) {
            if (!event.target.matches('.dropdown') &&
                !event.target.matches('.desktop-navigation__context-link') &&
                !event.target.matches('.lnsp') &&
                 !event.target.matches('.pchl')) {
                var dropdowns = $(".dropdown-content");
                if (dropdowns.hasClass('show')) {
                    dropdowns.removeClass('show');
                }
            }
        }
    </script>

    <script type="text/javascript" src="~/Content/jquery.toast.min.js"></script>

    <script>

        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        var loading =
           '<div class="modal-body" style="padding:20px;text-align:center">' +
           '   <p style="text-align:center">@ShareRes.Loading</p>' +
           '   <p style="text-align:center"><i class="fa fa-spinner fa-spin"></i></p>' +
           '</div>';

        function addcollect(id) {
            $('#mainmodal').html(loading);
            modal.style.display = "block";
            $.ajax({
                type: 'Get',
                url: '/@CultureHelper.GetCurrentCulture()/Products/AddToCollection/' + id,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.IsAuthenticated == false) {
                        location.href = '/@CultureHelper.GetCurrentCulture()/account/login';
                    } else {
                        $('#mainmodal').html(data);
                    }
                }
            });
        }

        function doAddTocollection(xcollectionId, xproductId, xcollectionName) {
            $('#mainmodal').html(loading);
            var data0 = { 'collectionId': xcollectionId, 'productId': xproductId, 'collectionName': xcollectionName };
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                url: '/@CultureHelper.GetCurrentCulture()/Products/AddToCollection/',
                data: JSON.stringify(data0),
                success: function (data) {
                    if (data.result == true) {
                        $.toast({
                            heading: '@ShareRes.Success_message',
                            text: '@ShareRes.collectionAddSuccess',
                            icon: 'success',
                            showHideTransition: 'slide',
                            position: 'top-right',
                            hideAfter: 7000
                        })
                    } else {
                        $.toast({
                            heading: 'Error',
                            text: '@ShareRes.collectionAddFaild',
                            icon: 'error',
                            showHideTransition: 'slide',
                            position: 'top-right',
                            hideAfter: 7000
                        })
                    }
                    modal.style.display = "none";
                }
            });
        }


    </script>

    <script>
        function addfav(obj, id) {
            var heart = '<i class="fa fa-heart"></i>';
            var loadingspin = ' <i class="fa fa-spinner fa-spin"></i>';
            $(obj).html(loadingspin);
            $(obj).removeClass('is-favorite');
            $.ajax({
                type: 'Get',
                url: '/@CultureHelper.GetCurrentCulture()/Products/AddOrRemoveFavorit/' + id,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.IsAuthenticated == false) {
                        location.href = '/@CultureHelper.GetCurrentCulture()/account/login';
                    } else {
                        if (data.isInMyFavList) {
                            $(obj).html(heart);
                            $(obj).addClass('is-favorite');
                            $.toast({
                                heading: '@ShareRes.Success_message',
                                text: '@ShareRes.FavAddSuccess',
                                icon: 'success',
                                showHideTransition: 'slide',
                                position: 'top-right',
                                hideAfter: 7000
                            })
                        } else {
                            $(obj).html(heart);
                            $(obj).removeClass('is-favorite');
                            $.toast({
                                heading: '@ShareRes.Success_message',
                                text: '@ShareRes.FavAddFail',
                                icon: 'success',
                                showHideTransition: 'slide',
                                position: 'top-right',
                                hideAfter: 7000
                            })
                        }
                    }
                }
            });
        }
    </script>

    <script>
        function isPersian(str) {
            var p = /^[\u0600-\u06FF\s]+$/;

            if (p.test(str))
                return true;
            return false;
        }
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105810236-1', 'auto');
        ga('send', 'pageview');

    </script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    @* @Scripts.Render("~/bundles/jquery") @RenderSection("scripts", required: false)*@
</body>
</html>
