@model FirstPageSection

@{
    Pricethreshold p1 = (Pricethreshold)ViewBag.p1;
    Pricethreshold p2 = (Pricethreshold)ViewBag.p2;
    Pricethreshold p3 = (Pricethreshold)ViewBag.p3;
    Pricethreshold p4 = (Pricethreshold)ViewBag.p4;
    Pricethreshold p5 = (Pricethreshold)ViewBag.p5;
}

@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var tar = IsRighToLeft ? "text-align:right" : "";
}
<!-- Browse Art for Sale by Price  -->
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 style="@tar" class="section-title mb1">@SearchRes.Browse_Art_for_Sale_Price</h2>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-8 columns browse-item-large"
         style="background-color: #363636;background-size: cover;background-image: url('@ViewBag.pic1')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p1.Id" class="flexcontainer">
            <!-- internationalization test -->
            @if (p1.min.HasValue && p1.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p1.min.Value &mdash; $@p1.max.Value
                </div>
            }
            else if (!p1.min.HasValue && p1.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p1.max.Value
                </div>
            }
            else if (p1.min.HasValue && !p1.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p1.min.Value
                </div>
            }

            <button onclick="document.location.href = '@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p1.Id'">@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic2')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p2.Id" class="flexcontainer">
            <!-- internationalization test -->
            @if (p2.min.HasValue && p2.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p2.min.Value &mdash; $@p2.max.Value
                </div>
            }
            else if (!p2.min.HasValue && p2.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p2.max.Value
                </div>
            }
            else
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p2.min.Value
                </div>
            }
            <button onclick="document.location.href = '@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p2.Id'">@SearchRes.ViewArtwork</button>
        </a>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic3')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p3.Id" class="flexcontainer">
            <!-- internationalization test -->
            @if (p3.min.HasValue && p3.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p3.min.Value &mdash; $@p3.max.Value
                </div>
            }
            else if (!p3.min.HasValue && p3.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p3.max.Value
                </div>
            }
            else
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p3.min.Value
                </div>
            }
            <button onclick="document.location.href = '@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p3.Id'">@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic4')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p4.Id" class="flexcontainer">
            <!-- internationalization test -->
            @if (p4.min.HasValue && p4.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p4.min.Value &mdash; $@p4.max.Value
                </div>
            }
            else if (!p4.min.HasValue && p4.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p4.max.Value
                </div>
            }
            else
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p4.min.Value
                </div>
            }
            <button onclick="document.location.href = '@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p4.Id'">@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic5')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p5.Id" class="flexcontainer">
            <!-- internationalization test -->
            @if (p5.min.HasValue && p5.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p5.min.Value &mdash; $@p5.max.Value
                </div>
            }
            else if (!p5.min.HasValue && p5.max.HasValue)
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p5.max.Value
                </div>
            }
            else
            {
                <div>
                    <em>@ShareRes.Artworks_from</em>
                    $@p5.min.Value
                </div>
            }
            <button onclick="document.location.href = '@CultureHelper.GetCurrentCulture()/search?category=0&style=0&subject=0&medium=0&price=@p5.Id'">@SearchRes.ViewArtwork</button>
        </a>
    </div>
</div>