@model FirstPageSection

@using DataLayer.Extentions

@{
    Style p1 = (Style)ViewBag.p1;
    Style p2 = (Style)ViewBag.p2;
    Style p3 = (Style)ViewBag.p3;
    Style p4 = (Style)ViewBag.p4;
    Style p5 = (Style)ViewBag.p5;
}

@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var tar = IsRighToLeft ? "text-align:right" : "";
}
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 style="@tar" class="section-title mb1">@SearchRes.Browse_Art_for_Sale_by_Style</h2>
    </div>
</div>

<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic2')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=@p2.Id&subject=0&medium=0&price=0" class="flexcontainer">
            <div>
                <em>@Model.Current().title2</em>
                @Model.Current().desc2
            </div>
            <button>@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-8 columns browse-item-large"
        style="background-color: #363636;background-size:cover;background-image: url('@ViewBag.pic1')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=@p1.Id&subject=0&medium=0&price=0" class="flexcontainer">
            <div>
                <em>@Model.Current().title</em>
                @Model.Current().desc1
            </div>
            <button>@SearchRes.ViewArtwork</button>
        </a>
    </div>
</div>

<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
        style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic3')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=@p3.Id&subject=0&medium=0&price=0" class="flexcontainer">
            <div>
                <em>@Model.Current().title3</em>
                @Model.Current().desc3
            </div>
            <button>@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
       style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic4')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=@p4.Id&subject=0&medium=0&price=0" class="flexcontainer">
            <div>
                <em>@Model.Current().title4</em>
                @Model.Current().desc4
            </div>
            <button>@SearchRes.ViewArtwork</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
       style="background-color: #363636;background-size:contain;background-image: url('@ViewBag.pic5')">
        <a href="@CultureHelper.GetCurrentCulture()/search?category=0&style=@p5.Id&subject=0&medium=0&price=0" class="flexcontainer">
            <div>
                <em>@Model.Current().title5</em>
                @Model.Current().desc5
            </div>
            <button>@SearchRes.ViewArtwork</button>
        </a>
    </div>
</div>
