@using DataLayer.Extentions
@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var tar = IsRighToLeft ? "text-align:right" : "";
}
<div class="row canvas-section">
    <div class="small-12 columns">
        <h2 style="@tar" class="section-title mt0">@ShareRes.Art_print</h2>
        @*<div class="section-details">Visit R24’s magazine to learn about emerging Agencys and news from the art world</div>*@
    </div>
</div>
<div class="row">
    <ul class="item-list canvas-stories">
        @{ var products = (List<Product>)(ViewBag.products);}
        @foreach (var item in products)        
        {
            <li class="list-item feature">
                <div class="feature-image">
                    <a href="@Url.Action(item.category.Current().Name,"Artwork", new { id=@item.GenerateSlug() })" >
                        <img src="@item.Sqphoto.Path" alt="@item.Title">
                    </a>
                </div>
                <div class="row feature-meta">
                    <h3 style="@tar" class="feature-title ellipsis"><a href="" title="@item.Title">@item.Title </a></h3>
                    <span style="@tar" class="feature-subtitle ellipsis"><a href="@Url.Action(item.category.Current().Name,"Artwork", new { id=@item.GenerateSlug() })" title="Profile page for @item.user.FirstName @item.user.LastName">@item.user.FirstName  @item.user.LastName</a></span>
                    <span style="@tar" class="feature-subtitle2 ellipsis"><a href="https://cuber.dev/@CultureHelper.GetCurrentCulture()/search?category=12&style=0&subject=0&medium=0&price=0&page=1" title="@ShareRes.View_more">@ShareRes.View_more</a></span>
                </div>
            </li>
        }
    </ul>
</div>
<!-- / tiles -->
